mixin tabs(data)
    .tabs&attributes(attributes)
        .tabs__nav
            .tabs__nav-inner
                ul.tabs__list
                    each item in data
                        li.tabs__tab
                            a.tabs__link(
                                class = item.active ? 'tabs__link_active' : ''
                                href = '#' + item.id
                            )= item.title

        each item in data
            .tabs__pane(
                class = item.active ? 'tabs__pane_active' : ''
                id = item.id
            )
                each block in item.blocks
                    +#{block.name}(block.content)
