/**
 * Styles for the accordion gallery block
 */
.accordion-gallery {
    // Selector styles
    align-items: center;
    display: flex;
    flex-direction: column;

    overflow: hidden;

    // @media queries
    @include breakpoint-up(md) {
        align-items: stretch;
        flex-direction: row;
    }

    // Pseudo-classes and pseudo-elements
    // TODO: add code

    // Nested selectors
    // TODO: add code

    // BEM elements
    &__thumb {
        position: relative;

        display: block;
        flex: 0 1 auto;
        height: 5.25em;

        overflow: hidden;
        transition: height 0.2s linear;

        @include breakpoint-up(md) {
            flex: 1 1 auto;
            height: auto;
            min-width: 0;
            max-height: none;

            transition: width 0.2s linear;
        }
    }

    &__thumb-img {
        display: block;
        max-width: 100%;

        @include breakpoint-up(md) {
            min-height: 100%;
            max-width: none;
        }
    }

    &__thumb-overlay {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;

        align-items: center;
        display: flex;
        justify-content: center;

        color: $color-white;
        font-size: 3.125rem;
        text-decoration: none;

        background: rgba($color-primary, 0.4);
        opacity: 0;
        transition: opacity 0.25s ease-out;

        .accordion-gallery__thumb:hover &,
        .focus-utility .accordion-gallery__thumb:focus & {
            opacity: 1;
        }
    }

    // BEM modifiers
    // TODO: add code
}