/**
 * Checkout Page
 */
.checkout {
    // Selector styles
    padding: 4.375em 0;

    // @media queries
    @include breakpoint-up(lg) {
        padding-bottom: 6.25em;
        padding-top: 6.25em;
    }

    // Pseudo-classes and pseudo-elements
    // TODO: add code

    // Nested selectors
    // TODO: add code

    // BEM elements
    &__section {
        border-top: 1px solid $color-gallery;

        &:not(:first-child) {
            margin-top: 4.375em;

            @include breakpoint-up(lg) {
                margin-top: 6.25em;
            }
        }
    }

    &__section-inner {
        padding: 1.25em 0.625em 0;

        @include breakpoint-up(xl) {
            margin: 0 auto;
            max-width: 75em;
        }
    }

    &__section-header {
        @include breakpoint-up(md) {
            align-items: center;
            display: flex;
            flex-wrap: wrap;
        }
    }

    &__section-title {
        color: $color-black;
        font-weight: $font-weight-bold;
        letter-spacing: 0.2em;
        text-transform: uppercase;
    }

    &__fields-wrap {
        margin-top: 3.125em;

        overflow: hidden;

        @include breakpoint-up(md) {
            margin: 4.375em auto 0;
            max-width: 58.125em;
        }
    }

    &__shipping-checkbox {
        align-items: center;
        display: flex;
        margin-right: 1em;
        margin-top: 1em;

        @include breakpoint-up(md) {
            margin-top: 0;
            margin-left: 1.125em;
        }
    }

    &__account-header {
        align-items: center;
        display: flex;
    }

    &__account-fields {
        display: none;
        margin-top: 1.5em;
    }

    &__account-text {
        margin-bottom: 1.6667em;
    }

    &__check-label {
        font-size: 0.9375rem;

        cursor: pointer;
    }

    &__order {
        margin-top: 1.5em;

        @include breakpoint-up(xl) {
            margin: 2.75em auto 0;
            max-width: 58.125em;
        }
    }

    &__checkbox {
        margin-right: 1em;
    }

    &__place-order {
        margin: 3.125em auto 0;
        max-width: 59.375em;
        padding: 0 0.625em;

        @include breakpoint-up(md) {
            text-align: right;
        }
    }

    &__order-btn {
        display: block;
        width: 100%;

        @include breakpoint-up(md) {
            display: inline;
            max-width: 15.45em;
        }
    }

    &__payment {
        margin-top: 1.875em;
        padding: 0 0.625em;

        @include breakpoint-up(lg) {
            margin: 3.125em auto 0;
            max-width: 59.375em;
        }
    }

    // BEM modifiers
    // TODO: add code
}