/**
 * Checkout Page
 */
.checkout {
    padding: 70px 0;

    @include breakpoint-up(lg) {
        padding-bottom: 100px;
        padding-top: 100px;
    }

    &__section {
        border-top: 1px solid $color-gallery;

        &:not(:first-child) {
            margin-top: 70px;

            @include breakpoint-up(lg) {
                margin-top: 100px;
            }
        }
    }

    &__section-inner {
        padding: 20px 10px 0;

        @include breakpoint-up(xl) {
            margin: 0 auto;
            max-width: 1200px;
        }
    }

    &__section-header {
        @include breakpoint-up(md) {
            align-items: center;
            display: flex;
            flex-wrap: wrap;
        }
    }

    &__section-title {
        color: $color-black;
        font-weight: $font-weight-bold;
        letter-spacing: 0.2em;
        text-transform: uppercase;
    }

    &__fields-wrap {
        margin-top: 50px;

        @include breakpoint-up(md) {
            margin: 70px auto 0;
            max-width: 930px;

            overflow: hidden;
        }
    }

    &__fields {
        @include breakpoint-up(md) {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -25px;
        }
    }

    &__group {
        @include breakpoint-up(md) {
            padding: 0 25px;
            width: 50%;
        }

        &_large {
            width: 100%;
        }
    }

    &__label {
        display: block;
        margin-top: 20px;

        @include font-size(11px);
        font-weight: $font-weight-bold;
        letter-spacing: 0.2em;
        text-transform: uppercase;
    }

    &__input {
        width: 100%;
    }

    &__error {
        display: block;
        margin-top: 10px;

        text-transform: none;
    }

    &__check {
        display: flex;
        align-items: center;
        margin-top: 20px;

        @include font-size(15px);

        &_inline {
            @include breakpoint-up(md) {
                margin-top: 0;
                margin-left: 18px;
            }
        }
    }

    &__check-input {
        @include visually-hidden();
    }

    &__check-mark {
        display: block;
        height: 20px;
        margin-right: 15px;
        width: 20px;

        background-color: $color-white;
        border: 5px solid $color-athens-gray;
        cursor: pointer;

        transition: all 0.25s ease-out;

        .checkout__check-input:checked + & {
            background-color: $color-primary;
        }

        .checkout__check-input:focus + &,
        &:hover {
            border-color: $color-secondary;
        }
    }

    &__account-fields {
        display: none;
        margin-top: 25px;
    }

    &__review-order {
        padding: 0 10px;
        margin-top: 25px;

        @include breakpoint-up(xl) {
            margin: 45px auto 0;
            max-width: 950px;
        }
    }

    &__place-order {
        margin: 50px auto 0;
        max-width: 950px;
        padding: 0 10px;

        @include breakpoint-up(md) {
            text-align: right;
        }
    }

    &__order-btn {
        display: block;
        width: 100%;

        @include breakpoint-up(md) {
            display: inline;
            max-width: 170px;
        }
    }

    
    // &__payments {
    //     margin: 0 auto;
    //     max-width: 950px;
    //     padding: 0 10px;

    //     @include breakpoint-up(lg) {
    //         margin-top: 20px;
    //     }
    // }

    // &__payment-item {
    //     align-items: flex-start;
    //     display: flex;
    //     padding: 20px 0;

    //     border-bottom: 1px solid $color-gallery;
    // }

    // &__payment-text {
    //     flex: 1;
    //     margin-left: 15px;
    // }

    // &__payment-radio {
    //     display: none;
    // }

    // &__payment-radio-mark {
    //     display: block;
    //     height: 20px;
    //     width: 20px;

    //     background-color: $color-white;
    //     border: 5px solid $color-athens-gray;
    //     border-radius: 50%;
    //     outline: none;

    //     .checkout__payment-radio:checked + & {
    //         background-color: $color-primary;
    //     }
    // }

    // &__payment-desc {
    //     display: none;
    //     margin-top: 12px;
    // }

    // &__payment-title {
    //     @include breakpoint-up(md) {
    //         align-items: center;
    //         display: flex;
    //     }
    // }

    // &__payment-label {
    //     font-weight: $font-weight-bold;
    //     letter-spacing: 0.2em;
    //     text-transform: uppercase;
    // }

    // &__payment-cards {
    //     display: flex;
    //     margin-top: 20px;

    //     @include breakpoint-up(md) {
    //         margin: -7px 0 -7px 50px;
    //     }
    // }

    // &__payment-card {
    //     margin-right: 20px;
    // }

    // &__payment-link {
    //     display: block;
    //     margin-top: 20px;

    //     color: $color-primary;
    //     letter-spacing: 0.15em;
    //     text-decoration: none;

    //     transition: color 0.25s ease;

    //     @include breakpoint-up(md) {
    //         margin-top: 0;
    //     }

    //     &:hover {
    //         color: $color-secondary;
    //     }
    // }



}