/**
 * Blog Article
 */
.article {
    &__header {
        margin-bottom: 26px;
        padding: 0 10px;

        text-align: center;
    }

    &__categories {
        margin: -5px -10px;

        overflow: hidden;
    }

    &__category {
        display: inline-block;
        padding: 5px 10px;
    }

    &__category-link {
        color: $color-secondary;
        font-family: $font-family-title;
        font-weight: $font-weight-bold;
        letter-spacing: 0.2em;
        text-decoration: none;
        text-transform: uppercase;

        transition: color 0.25s ease;

        &:hover {
            color: $color-primary;
        }
    }

    &__title {
        margin-top: 20px;

        @include font-size(30px);
        letter-spacing: 0.1em;
        text-transform: uppercase;
    }

    &__title-link {
        color: $color-primary;
        text-decoration: none;

        transition: color 0.25s ease;

        &:hover {
            color: $color-secondary;
        }
    }

    &__pubdate {
        margin-top: 20px;

        color: $color-silver-sand;
        font-weight: $font-weight-bold;
        letter-spacing: 0.1em;
        text-transform: uppercase;
    }

    &__content {
        padding: 0 10px;
    }

    &__image {
        display: block;
        max-width: 100%;
    }

    &__text {
        margin-top: 40px;
    }

    &__link {
        display: inline-block;
        margin-top: 30px;

        color: $color-secondary;
        font-weight: $font-weight-bold;
        letter-spacing: 0.15em;
        text-decoration: none;

        transition: color 0.25s ease;

        &:hover {
            color: $color-primary;
        }
    }

    &__footer {
        margin-top: 20px;
    }

    &__footer-top {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0 10px;

        @include breakpoint-up(md) {
            flex-wrap: nowrap;
        }
    }

    &__tags {
        margin-bottom: 10px;
        margin-right: auto;
        overflow: hidden;
    }

    &__tag-list {
        display: flex;
        flex-flow: row wrap;

        margin: 0 -15px;
    }

    &__tag {
        padding: 10px 15px;
    }

    &__tag-link {
        color: $color-silver-sand;
        letter-spacing: 0.15em;
        text-decoration: none;
        text-transform: uppercase;

        transition: color 0.25s ease;

        &:hover {
            color: $color-black;
        }
    }

    &__share {
        position: relative;

        margin-bottom: 10px;
        margin-left: 15px;
    }

    &__author {
        margin-top: 45px;
    }

    &__related-posts,
    &__comments,
    &__comment-form {
        margin-top: 65px;
    }
}
