/**
 * Styles for the article block
 */
.article {
    // Selector styles
    // TODO: add code

    // @media queries
    // TODO: add code

    // Pseudo-classes and pseudo-elements
    // TODO: add code

    // Nested selectors
    // TODO: add code

    // BEM elements
    &__header {
        margin-bottom: 1.625em;
        padding: 0 0.625em;

        text-align: center;

        @include breakpoint-up(lg) {
            padding: 0;
        }
    }

    &__cats {
        display: flex;
        justify-content: center;
    }

    &__cat-item {
        margin: 0 0.625em 0.625em;
    }

    &__cat-link {
        color: $color-secondary;
        font-family: $font-family-title;
        font-size: 0.75rem;
        font-weight: $font-weight-bold;
        letter-spacing: 0.2em;
        text-decoration: none;
        text-transform: uppercase;

        transition: color 0.25s ease;

        &:hover {
            color: $color-primary;
        }

        .focus-utility &:focus {
            box-shadow: 0 0 0 0.2em rgba($color-focus, 0.5);
        }
    }

    &__title {
        margin-top: 0.5em;

        font-size: 1.875rem;
        letter-spacing: 0.1em;
        text-transform: uppercase;
    }

    &__title-link {
        color: $color-primary;
        text-decoration: none;

        transition: color 0.25s ease;

        &:hover {
            color: $color-secondary;
        }

        .focus-utility &:focus {
            box-shadow: 0 0 0 0.1em rgba($color-focus, 0.5);
        }
    }

    &__pubdate {
        display: block;
        margin-top: 1.675em;

        color: $color-silver-sand;
        font-size: 0.75rem;
        font-weight: $font-weight-bold;
        letter-spacing: 0.1em;
        text-transform: uppercase;
    }

    &__content {
        padding: 0 0.625em;

        @include breakpoint-up(lg) {
            padding: 0;
        }
    }

    &__image {
        display: block;
        max-width: 100%;
    }

    &__text {
        margin-top: 3.325em;
    }

    &__link {
        display: inline-block;
        margin-top: 2.5em;

        color: $color-secondary;
        font-size: 0.75rem;
        font-weight: $font-weight-bold;
        letter-spacing: 0.15em;
        text-decoration: none;

        transition: color 0.25s ease;

        &:hover {
            color: $color-primary;
        }

        .focus-utility &:focus {
            box-shadow: 0 0 0 0.2em rgba($color-focus, 0.5);
        }
    }

    &__footer {
        margin-top: 1.25em;
    }

    &__footer-top {
        align-items: baseline;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0 0.625em;

        @include breakpoint-up(md) {
            flex-wrap: nowrap;
        }

        @include breakpoint-up(lg) {
            padding: 0;
        }
    }

    &__tags {
        margin-bottom: 0.625em;
        margin-right: 1em;
    }

    &__share {
        margin-bottom: 0.625em;
        margin-left: auto;
    }

    &__author {
        margin-top: 2.875em;
        padding: 0 0.625em;

        @include breakpoint-up(lg) {
            padding: 0;
        }
    }

    &__footer-section {
        margin-top: 4em;
        padding: 0 0.625em;

        border-top: 1px solid $color-athens-gray;

        @include breakpoint-up(lg) {
            padding: 0;
        }
    }

    &__footer-section-title {
        margin: 1.825em 0 5.5em;
    }

    // BEM modifiers
    // TODO: add code
}
