/**
 * Styles for the article block
 */
.article {
    &__header {
        margin-bottom: 26px;
        padding: 0 10px;

        text-align: center;

        @include breakpoint-up(lg) {
            padding: 0;
        }
    }

    &__cats {
        display: flex;
        justify-content: center;
    }

    &__cat-item {
        margin: 0 10px 10px;
    }

    &__cat-link {
        color: $color-secondary;
        font-family: $font-family-title;
        font-weight: $font-weight-bold;
        letter-spacing: 0.2em;
        text-decoration: none;
        text-transform: uppercase;

        transition: color 0.25s ease;

        &:hover,
        &:focus {
            color: $color-primary;
        }
    }

    &__title {
        margin-top: 15px;

        @include font-size(30px);
        letter-spacing: 0.1em;
        text-transform: uppercase;
    }

    &__title-link {
        color: $color-primary;
        text-decoration: none;

        transition: color 0.25s ease;

        &:hover,
        &:focus {
            color: $color-secondary;
        }
    }

    &__pubdate {
        display: block;
        margin-top: 20px;

        color: $color-silver-sand;
        font-weight: $font-weight-bold;
        letter-spacing: 0.1em;
        text-transform: uppercase;
    }

    &__content {
        padding: 0 10px;

        @include breakpoint-up(lg) {
            padding: 0;
        }
    }

    &__image {
        display: block;
        max-width: 100%;
    }

    &__text {
        margin-top: 40px;
    }

    &__link {
        display: inline-block;
        margin-top: 30px;

        color: $color-secondary;
        font-weight: $font-weight-bold;
        letter-spacing: 0.15em;
        text-decoration: none;

        transition: color 0.25s ease;

        &:hover,
        &:focus {
            color: $color-primary;
        }
    }

    &__footer {
        margin-top: 20px;
    }

    &__footer-top {
        align-items: baseline;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0 10px;

        @include breakpoint-up(md) {
            flex-wrap: nowrap;
        }

        @include breakpoint-up(lg) {
            padding: 0;
        }
    }

    &__tags {
        margin-bottom: 10px;
        margin-right: 15px;
    }

    &__share {
        margin-bottom: 10px;
        margin-left: auto;
    }

    &__author {
        margin-top: 45px;
        padding: 0 10px;

        @include breakpoint-up(lg) {
            padding: 0;
        }
    }

    &__footer-section {
        margin-top: 65px;
        padding: 0 10px;

        border-top: 1px solid $color-athens-gray;

        @include breakpoint-up(lg) {
            padding: 0;
        }
    }

    &__footer-section-title {
        margin: 22px 0 65px;
    }
}
