mixin heading-group(data, level = 'section')
    - const titleTag = (level === 'page') ? 'h1' : 'h2';
    .heading-group(class=`heading-group_lvl_${level}`)&attributes(attributes)
        #{titleTag}.heading-group__title= data.title
        p.heading-group__subtitle= data.subtitle
    // /.heading-group 