//-
    name: heading-group
    description: Markup for the heading group block
    arguments:
        - {object} props - block properties
        - {string} props.title - title text
        - {string} props.subtitle - subtitle text
        - {string} props.level - heading tag level

mixin heading-group(props = {})
    .heading-group(
        class=`heading-group_lvl_${props.level}`
    )&attributes(attributes)
        #{'h' + props.level}.heading-group__title= props.title
        p.heading-group__subtitle= props.subtitle
