/**
 * Styles for the page header block
 */
.page-header {
    background: {
        color: $color-tundora;
        position: center;
        repeat: no-repeat;
        size: cover;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin: 0 auto;
        max-height: 660px;
        max-width: 1200px;
        height: calc(100vh - 85px);
        padding: 10px 10px 60px;

        @include breakpoint-up(lg) {
            height: 100vh;
            max-height: 700px;
            padding-bottom: 85px;
        }
    }
}