mixin page-header(data)
    .page-header(
        style=`background-image: url(${data.bgImage})`
    )&attributes(attributes)
        .page-header__inner
            +heading-group({
                title: data.title,
                subtitle: data.subtitle,
                level: 1,
            }).page-header__title
    // /.page-header 
