// Minimum and maximum screen sizes
$screen-xl-min: 1200px;
$screen-lg-max: ($screen-xl-min - 1);
$screen-lg-min: 992px;
$screen-md-max: ($screen-lg-min - 1);
$screen-md-min: 768px;
$screen-sm-max: ($screen-md-min - 1);
$screen-sm-min: 480px;
$screen-xs-max: ($screen-sm-min - 1);

// Breakpoints based on minimum screen width
$breakpoints-up: (
    sm: $screen-sm-min,
    md: $screen-md-min,
    lg: $screen-lg-min,
    xl: $screen-xl-min
);

// Breakpoints based on maximum screen width
$breakpoints-down: (
    xs: $screen-xs-max,
    sm: $screen-sm-max,
    md: $screen-md-max,
    lg: $screen-lg-max
);

// Breakpoints based on minimum and maximum screen widths
$breakpoints-only: (
    sm: ($screen-sm-min, $screen-sm-max),
    md: ($screen-md-min, $screen-md-max),
    lg: ($screen-lg-min, $screen-lg-max)
);

// Container width
$container-xl: 1170px;
$container-lg: 970px;
$container-md: 750px;

// Font Families
$font-family-regular: 'Montserrat', sans-serif;
$font-family-title: 'Axis', sans-serif;
$font-family-cursive: 'Streetwear', cursive;

// Font Weights
$font-weight-regular: 400;
$font-weight-bold: 700;

// Font sizes
$font-size-default: 12px;

// Line Heights
$line-height-regular: 1.2;

// Color palette
$color-black: #000;
$color-ebony-clay: #1e2633;
$color-tundora: #404040;
$color-au-chico: #985e5b;
$color-silver-sand: #bbbdbf;
$color-alto: #d9d9d9;
$color-iron: #dcdee0;
$color-athens-gray: #edeff2;
$color-gallery: #eeeeee;
$color-concrete: #f2f2f2;
$color-alabaster: #f7f7f7;
$color-white: #fff;

// Semantic colors
$color-primary: $color-ebony-clay;
$color-secondary: $color-au-chico;
