mixin blog-gallery(data)
    .blog-gallery&attributes(attributes)
        .blog-gallery__inner
            .blog-gallery__container
                each image in data
                    .blog-gallery__slide
                        img(src=image.src, alt=image.alt).blog-gallery__img
            // /.blog-gallery__container 

            .blog-gallery__arrows
                button(
                    type="button"
                ).blog-gallery__arrow.blog-gallery__arrow_dir_prev Previous
                button(
                    type="button"
                ).blog-gallery__arrow.blog-gallery__arrow_dir_next Next
            // /.blog-gallery__arrows 
        // /.blog-gallery__inner 
    // /.blog-gallery 