/**
 * Styles for the reservation form block
 */
.reservation {
    // Selector styles
    padding: 5.625em 0 4.375em;

    text-align: center;

    border-top: 1px solid $color-gallery;

    // @media queries
    @include breakpoint-up(lg) {
        padding-bottom: 6.25em;
        padding-top: 6.875em;
    }

    // Pseudo-classes and pseudo-elements
    // TODO: add code

    // Nested selectors
    // TODO: add code

    // BEM elements
    &__inner {
        position: relative;

        margin: 0 auto;
        max-width: 26.25em;
        padding: 0 0.625em;

        @include breakpoint-up(md) {
            max-width: 44em;
        }
    }

    &__title {
        left: 0.5em;
        position: absolute;
        right: 0.5em;
        top: -5.15em;

        font-weight: $font-weight-bold;
        font-size: 1.25rem;
        letter-spacing: 0.085em;
        text-transform: uppercase;

        @include breakpoint-up(lg) {
            top: -6.15em;
        }
    }

    &__fields {
        @include breakpoint-up(md) {
            display: flex;
            justify-content: center;
        }
    }

    &__input-group {
        position: relative;

        align-items: center;
        display: flex;

        font-size: 1.3125rem;

        @include breakpoint-up(md) {
            width: 33.3333%;
        }

        &:not(:first-child) {
            margin-top: 2em;

            @include breakpoint-up(md) {
                margin-left: 2.125em;
                margin-top: 0;
            }
        }
    }

    &__input {
        flex: 1 1 auto;
        margin-left: 1.25em;
        width: 100%;
    }

    &__bottom {
        margin-top: 3.125em;

        text-align: center;
    }

    &__submit {
        width: 16.375em;
    }

    &__error {
        position: absolute;
        right: 0;
        top: 100%;

        margin-top: 0.9em;

        text-align: right;
    }

    // BEM modifiers
    // TODO: add code
}
