/**
 * Styles for the article tags block.
 */
.article-tags {
    // Selector styles
    display: flex;
    flex-flow: row wrap;
    flex-wrap: wrap;

    // @media queries
    // TODO: add code

    // Pseudo-classes and pseudo-elements
    // TODO: add code

    // Nested selectors
    // TODO: add code

    // BEM elements
    &__item {
        margin-right: 1.875em;
        margin-top: 1em;
    }

    &__link {
        color: $color-silver-sand;
        font-size: 0.75rem;
        letter-spacing: 0.15em;
        text-decoration: none;
        text-transform: uppercase;

        transition: color 0.25s ease;

        &:hover {
            color: $color-black;
        }

        .focus-utility &:focus {
            box-shadow: 0 0 0 0.2em rgba($color-focus, 0.5);
        }
    }

    // BEM modifiers
    // TODO: add code
}
