/**
 * Styles for the blog page main block
 */
.blog-layout {
    // Selector styles
    // TODO: add code

    // @media queries
    @include breakpoint-up(lg) {
        display: grid;
    }

    // Pseudo-classes and pseudo-elements
    // TODO: add code

    // Nested selectors
    // TODO: add code

    // BEM elements
    &__articles {
        padding: 4em 0;

        @include breakpoint-up(lg) {
            grid-area: a;
            padding: 6em 0.625em;
        }
    }

    &__article:not(:first-child) {
        margin-top: 4em;

        @include breakpoint-up(lg) {
            margin-top: 6em;
        }
    }

    &__pagination {
        @include breakpoint-up(lg) {
            grid-area: p;
        }
    }

    &__sidebar {
        padding: 3.75em 0.625em 4.375em;

        @include breakpoint-up(lg) {
            grid-area: s;
            padding-bottom: 6.25em;
            padding-top: 5.625em;
        }
    }

    &__widget {
        margin-top: 4em;
    }

    // BEM modifiers
    &_sidebar_left {
        @include breakpoint-up(lg) {
            grid-template-areas: "s a"
                                 "p p";
            grid-template-columns: 4fr 6fr;
        }

        @include breakpoint-up(xl) {
            grid-template-areas: ". s a ."
                                 "p p p p";
            grid-template-columns: 1fr 30em 45em 1fr;
        }

        .blog-layout__sidebar {
            @include breakpoint-up(lg) {
                padding-right: 20%;
            }
        }
    }

    &_sidebar_right {
        @include breakpoint-up(lg) {
            grid-template-areas: "a s"
                                 "p p";
            grid-template-columns: 6fr 4fr;
        }

        @include breakpoint-up(xl) {
            grid-template-areas: ". a s ."
                                 "p p p p";
            grid-template-columns: 1fr 45em 30em 1fr;
        }

        .blog-layout__sidebar {
            @include breakpoint-up(lg) {
                padding-left: 20%;
            }
        }
    }
}
