//-
    name: blog-layout
    description: Markup for the blog page main block
    arguments:
        - {object} props - block options
        - {string} props.sidebar - sidebar location (left or right)
        - {object[]} props.articles - list of articles
        - {object} props.pagination - pagination data
        - {object} props.categories - categories data
        - {object} props.popularPosts - popular posts data

mixin blog-layout(props = {})
    .blog-layout(
        class='blog-layout_sidebar_' + (props.sidebar || 'right')
    )&attributes(attributes)
        .blog-layout__articles
            each article in props.articles
                +article(article).blog-layout__article
        // .blog-layout__articles 

        if props.pagination
            +pagination({
                pages: props.pagination.pages,
                activePage: props.pagination.activePage,
                bordered: true,
            }).blog-layout__pagination

        aside.blog-layout__sidebar
            +blog-search().blog-layout__search

            if props.categories
                +sidebar-widget({ title: 'Categories' }).blog-layout__widget
                    +blog-cats({ items: props.categories })

            if props.popularPosts
                +sidebar-widget({ title: 'Popular posts' }).blog-layout__widget
                    +popular-posts({ posts: props.popularPosts })
        // .blog-layout__sidebar 
    // .blog-layout 
