mixin blog-layout(data, mods={})
    .blog-layout(
        class='blog-layout_sidebar_' + (mods.sidebar || 'right')
    )&attributes(attributes)
        .blog-layout__content content
        .blog-layout__pagination pagination
        .blog-layout__sidebar sidebar
