mixin blog-layout(data, mods={})
    .blog-layout(
        class='blog-layout_sidebar_' + (mods.sidebar || 'right')
    )&attributes(attributes)
        // start blog content 
        .blog-layout__content
            each article in data.articles
                +article(article).blog-layout__article
        // end blog content 

        if data.pagination
            +pagination(data.pagination, {blog: true}).blog-layout__pagination

        .blog-layout__sidebar sidebar
