/**
 * Blog Page Layout
 */
.blog-layout {
    @include breakpoint-up(lg) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        @supports (display: grid) {
            display: grid;
            grid-template-columns: 1fr repeat(15, [col] minmax(auto, 80px)) 1fr;
        }
    }

    &__content {
        padding: 65px 10px;

        @include breakpoint-up(lg) {
            flex: 9;
            max-width: 720px;
            padding-bottom: 95px;
            padding-top: 95px;

            @supports (display: grid) {
                grid-column-end: span 9;
                grid-row: 1 / 2;
            }
        }
    }

    &__article + &__article {
        margin-top: 65px;

        @include breakpoint-up(lg) {
            margin-top: 95px;
        }
    }

    &__pagination {
        @include breakpoint-up(lg) {
            flex: 100%;
            order: 3;

            @supports (display: grid) {
                grid-column: 1 / -1;
                grid-row: 2 / 3;
            }
        }
    }

    &__sidebar {
        @include breakpoint-up(lg) {
            flex: 5;
            max-width: 400px;

            @supports (display: grid) {
                grid-column-end: span 5;
                grid-row: 1 / 2;
            }
        }
    }

    &_sidebar_left {
        .blog-layout__content {
            @include breakpoint-up(lg) {
                margin-left: 80px;
                order: 2;

                @supports (display: grid) {
                    grid-column-start: col 7;
                    margin-left: 0;
                }
            }
        }

        .blog-layout__sidebar {
            @include breakpoint-up(lg) {
                order: 1;

                @supports (display: grid) {
                    grid-column-start: col 1;
                }
            }
        }
    }

    &_sidebar_right {
        .blog-layout__content {
            @include breakpoint-up(lg) {
                order: 1;

                @supports (display: grid) {
                    grid-column-start: col 1;
                }
            }
        }

        .blog-layout__sidebar {
            @include breakpoint-up(lg) {
                margin-left: 80px;
                order: 2;

                @supports (display: grid) {
                    grid-column-start: col 11;
                    margin-left: 0;
                }
            }
        }
    }
}
