mixin contact-form()
    form.contact-form(action="#" method="post")&attributes(attributes)
        h2.contact-form__title Write a message

        .contact-form__inner
            .contact-form__field
                label(for="contact-first-name").contact-form__label First Name
                +input(
                    id          = "contact-first-name"
                    name        = "first_name"
                    placeholder = "First Name *"
                    required
                ).contact-form__input

            .contact-form__field
                label(for="contact-last-name").contact-form__label Last Name
                +input(
                    id          = "contact-last-name"
                    name        = "last_name"
                    placeholder = "Last Name *"
                    required
                ).contact-form__input

            .contact-form__field
                label(for="contact-email").contact-form__label Email
                +input(
                    id          = "contact-email"
                    type        = "email"
                    name        = "email"
                    placeholder = "Email *"
                    required
                ).contact-form__input

            .contact-form__field
                label(for="contact-subject").contact-form__label Subject
                +input(
                    id          = "contact-subject"
                    name        = "subject"
                    placeholder = "Subject *"
                    required
                ).contact-form__input

            .contact-form__field.contact-form__field_large
                label(for="contact-message").contact-form__label Message
                +text-area(
                    id          = "contact-message"
                    name        = "message"
                    placeholder = "Message *"
                    required
                ).contact-form__input.contact-form__input_large

            +btn({title: 'Send'}, 'submit', {alt: true}).contact-form__submit
        // /.contact-form__fields 
    // /.contact-form 
