/**
 * Styles for the contact form block
 */
.contact-form {
    &__title {
        margin-bottom: 25px;

        color: $color-secondary;
        @include font-size(20px);
        font-weight: $font-weight-bold;
        letter-spacing: 0.085em;
        text-transform: uppercase;
    }

    &__submit {
        margin-top: 50px;

        text-align: center;

        @include breakpoint-up(md) {
            margin-top: 5px;

            text-align: right;
        }
    }
}