/**
 * Styles for the title block
 */
.title {
    // Selector styles
    color: $color-black;
    font-size: 0.75rem;
    font-weight: $font-weight-bold;
    letter-spacing: 0.2em;
    text-transform: uppercase;

    // @media queries
    // TODO: add code

    // Pseudo-classes and pseudo-elements
    // TODO: add code

    // Nested selectors
    // TODO: add code

    // BEM elements
    // TODO: add code

    // BEM modifiers
    // TODO: add code
}
