mixin about-gallery(data)
    // start gallery 
    .about-gallery&attributes(attributes)
        each thumb in data
            .about-gallery__thumb
                img(src=thumb.src, alt=thumb.alt).about-gallery__thumb-img

                a.about-gallery__thumb-link(
                    href=thumb.link
                    class={
                        'mfp-image': thumb.type == 'image',
                        'mfp-iframe': thumb.type == 'video',
                    }
                )
                    +icon(thumb.type == 'video' ? 'play' : 'zoom')
    // end gallery 
