mixin footer()
    // Begin footer 
    footer.footer&attributes(attributes)
        .footer__inner
            .footer__social
                .footer__social-text Follow us:
                ul.footer__social-list
                    li.footer__social-item
                        a(href="javascript:void(0);").footer__social-link
                            +icon('fb', 'Follow us on Facebook')
                    li.footer__social-item
                        a(href="javascript:void(0);").footer__social-link
                            +icon('twitter', 'Follow us on Twitter')
                    li.footer__social-item
                        a(href="javascript:void(0);").footer__social-link
                            +icon('gplus', 'Follow us on Google Plus')

            a(href="index.html").footer__logo
                img(src="img/logo.png", alt="Renome")

            .footer__copyright
                | Copyright 2015 Renome by Estetiq
                br
                | HTML template by polarfawx
    // End footer 
