/**
 * Styles for the opening hours block
 */
.opening-hours {
    padding: 45px 25px;

    font-weight: $font-weight-bold;
    letter-spacing: 0.1em;
    text-align: center;
    text-transform: uppercase;

    border: 3px solid $color-athens-gray;

    @include breakpoint-up(md) {
        padding-bottom: 35px;
        padding-top: 35px;
    }

    &__title {
        color: $color-secondary;
        @include font-size(14px);
    }

    &__list {
        margin-top: 1.25em;

        color: $color-primary;
        line-height: 2;
    }

    &__item {
        &:not(:first-child) {
            margin-top: 1.6em;
        }
    }

    &__weekdays,
    &__time {
        display: block;
    }
}
