/**
 * Styles for the opening hours block
 */
.opening-hours {
    // Selector styles
    padding: 2.875em 1.5em;

    font-weight: $font-weight-bold;
    letter-spacing: 0.1em;
    text-align: center;
    text-transform: uppercase;

    border: 3px solid $color-athens-gray;

    // @media queries
    @include breakpoint-up(md) {
        padding-bottom: 2.25em;
        padding-top: 2.25em;
    }

    // Pseudo-classes and pseudo-elements
    // TODO: add code

    // Nested selectors
    // TODO: add code

    // BEM elements
    &__title {
        color: $color-secondary;
        font-size: 0.875rem;
    }

    &__list {
        margin-top: 1.25em;

        color: $color-primary;
        font-size: 0.75rem;
        line-height: 2;
    }

    &__item {
        &:not(:first-child) {
            margin-top: 1.6em;
        }
    }

    &__item-inner,
    &__days,
    &__time {
        display: block;
    }

    // BEM modifiers
    // TODO: add code
}
