/**
 * Styles for the rating input block
 */
.rating-input {
    // Selector styles
    display: inline-flex;

    // @media queries
    // TODO: add code

    // Pseudo-classes and pseudo-elements
    .focus-utility &:focus-within {
        box-shadow: 0 0 0 0.25em rgba($color-focus, 0.5);
    }

    // Nested selectors
    // TODO: add code

    // BEM elements
    &__radio {
        @include visually-hidden();
    }

    &__label {
        display: block;
        height: 0.75em;
        margin-left: 1em;

        text-indent: -100em;

        background: {
            image: url('../img/star-rating.svg');
            position: 0 0;
            repeat: no-repeat;
        }
        cursor: pointer;

        overflow: hidden;

        &_value_1 {
            width: 0.75em;
        }

        &_value_2 {
            width: 1.5em;
        }

        &_value_3 {
            width: 2.25em;
        }

        &_value_4 {
            width: 3em;
        }

        &_value_5 {
            width: 3.75em;
        }

        &:hover {
            background-position-y: -0.75em;
        }
    }

    &__radio:checked + .rating-input__label,
    &__radio:focus + .rating-input__label {
        background-position-y: -0.75em;
    }

    &__radio:first-child + .rating-input__label {
        margin-left: 0;
    }

    // BEM modifiers
    // TODO: add code
}
