mixin header(data, mods = {})
    // Begin header 
    header.header(
        class=!!mods.transparent ? 'header_transparent' : ''
    )&attributes(attributes)
        .header__inner
            if !!data.isHomepage
                h1.header__logo
                    img(src="img/logo.png", alt="Renome").header__logo-img
                    span.header__logo-text Renome
            else
                a(href="index.html" tab-index="1").header__logo
                    img(
                        src="img/logo.png"
                        alt="Renome"
                    ).header__logo-img
                    img(
                        src="img/logo-alt.png"
                        alt="Renome"
                    ).header__logo-img_alt

            .header__actions
                +search().header__search
                +mini-cart(data.cart).header__mini-cart

            +nav(data.nav).header__nav
    // End header 
