/**
 * Styles for the header block
 */
.header {
    color: $color-black;

    background: $color-white;
    box-shadow: 0 2px 5px rgba($color-black, 0.1);

    &__inner {
        align-items: center;
        display: flex;
        height: 85px;
        margin: 0 auto;
        max-width: 1200px;
        padding: 0 10px;

        @include breakpoint-up(lg) {
            height: 100px;
        }
    }

    &__logo {
        margin-right: auto;
        padding: 10px 0;
    }

    &__logo-img {
        display: block;
        max-width: 100%;

        &_alt {
            display: none;
        }
    }

    &__logo-text {
        display: none;
    }

    &__actions {
        align-items: center;
        display: flex;

        @include breakpoint-up(lg) {
            margin-left: 8px;
        }

        &:before {
            @include breakpoint-up(lg) {
                content: "";

                display: block;
                height: 9px;
                margin-top: -2px;
                width: 1px;

                background-color: $color-black;
            }
        }

        &:after {
            content: "";

            display: block;
            height: 15px;
            margin-left: 15px;
            margin-top: -2px;
            width: 1px;

            background-color: $color-black;

            @include breakpoint-up(lg) {
                display: none;
            }
        }
    }

    &__search {
        display: none;

        @include breakpoint-up(lg) {
            display: block;
            margin-left: 15px;
        }
    }

    &__mini-cart {
        @include breakpoint-up(lg) {
            margin-left: 14px;
        }
    }

    &__nav-toggle {
        margin-left: 15px;
    }

    &_transparent {
        box-shadow: none;

        @include breakpoint-up(lg) {
            color: $color-white;

            background: transparent;
        }

        .header__logo-img {
            @include breakpoint-up(lg) {
                display: none;
            }

            &_alt {
                @include breakpoint-up(lg) {
                    display: block;
                }
            }
        }

        .header__actions:before {
            background: $color-white;
        }
    }
}
