/**
 * Styles for the product breadcrumb block
 */
.product-breadcrumb {
    // Selector styles
    // TODO: add code

    // @media queries
    // TODO: add code

    // Pseudo-classes and pseudo-elements
    // TODO: add code

    // Nested selectors
    // TODO: add code

    // BEM elements
    &__list {
        display: flex;
    }
    
    &__item {
        font-size: 0.625rem;
        letter-spacing: 0.3em;
        text-transform: uppercase;
    }

    &__link {
        color: $color-primary;
        text-decoration: none;

        transition: color 0.25s ease;

        &:hover {
            color: $color-secondary;
        }

        .product-breadcrumb__item:not(:first-child) & {
            &:before {
                content: "/";
            }
        }

        &_current {
            color: $color-silver-sand;
        }
    }

    // BEM modifiers
    // TODO: add code
}
