/**
 * Load More Button
 */
.portfolio-more {
    text-align: center;

    &__btn {
        display: inline-block;
        margin-top: 30px;

        font-family: $font-family-regular;
        @include font-size(12px);
        font-weight: $font-weight-bold;
        color: $color-primary;
        letter-spacing: 0.1em;
        text-transform: uppercase;

        background: none;
        border: none;
        cursor: pointer;
        outline: none;

        transition: color 0.25s ease;

        @include breakpoint-up(lg) {
            margin-top: 36px;
        }

        &:after {
            content: "...";

            display: block;
            margin-top: -10px;

            @include font-size(30px);
        }

        &:hover {
            color: $color-secondary;
        }

        &_hidden {
            display: none;
        }
    }

    &__loader {
        display: inline-block;
        margin-top: 30px;
    }
}
