mixin cart-shipping()
    .cart-shipping&attributes(attributes)
        ul.cart-shipping__methods
            li.cart-shipping__method Free shipping

        +shipping-calc().cart-shipping__calc
    // /.cart-shipping 
