/**
 * Styles for the popular posts block
 */
.popular-posts {
    // Selector styles
    // TODO: add code

    // @media queries
    // TODO: add code

    // Pseudo-classes and pseudo-elements
    // TODO: add code

    // Nested selectors
    // TODO: add code

    // BEM elements
    &__item {
        align-items: center;
        display: flex;
        margin-top: 1.875em;
    }

    &__thumb {
        flex: 0 0 auto;
    }

    &__item-img {
        display: block;
        max-width: 5.625em;
    }

    &__item-body {
        flex: 1 1 auto;
        margin-left: 1.25em;
    }

    &__item-link {
        color: $color-primary;
        font-size: 0.8125rem;
        letter-spacing: 0.05em;
        text-decoration: none;

        transition: color 0.2s linear;

        &:hover,
        &:focus {
            color: $color-secondary;
        }
    }

    &__item-pubdate {
        display: block;
        margin-top: 0.9em;

        color: $color-silver-sand;
        font-size: 0.6875rem;
        letter-spacing: 0.1em;
    }

    // BEM modifiers
    // TODO: add code
}