mixin search()
    // begin search popup 
    form.search(action="#" method="post")&attributes(attributes)
        .search__inner
            input(type="text" placeholder="Search...").search__input
            button(type="submit" aria-label="Search").search__submit
                +icon('search')
            button(type="button" aria-label="Close").search__close
    // end search popup 
