mixin blog-cats(data)
    .blog-cats
        ul.blog-cats__list
            each category in data
                li.blog-cats__item
                    a(href="javascript:void(0);").blog-cats__link= category
    // /.blog-cats 