/**
 * Style for the sidebar categories block
 */
.blog-cats {
    // Selector styles
    // TODO: add code

    // @media queries
    // TODO: add code

    // Pseudo-classes and pseudo-elements
    // TODO: add code

    // Nested selectors
    // TODO: add code

    // BEM elements
    &__list {
        display: flex;
        flex-flow: row wrap;
    }

    &__item {
        margin-top: 1.875em;
        width: 50%;
    }

    &__link {
        display: inline-block;

        color: $color-primary;
        font-size: 0.8125em;
        letter-spacing: 0.1em;
        text-decoration: none;

        transition: color 0.2s linear;

        &:hover {
            color: $color-secondary;
        }

        .focus-utility &:focus {
            box-shadow: 0 0 0 0.2em rgba($color-focus, 0.5);
        }
    }

    // BEM modifiers
    // TODO: add code
}
