/**
 * Style for the sidebar categories block
 */
.blog-cats {
    overflow: hidden;

    &__list {
        display: flex;
        flex-flow: row wrap;
        margin: 0 -5px;
    }

    &__item {
        margin-top: 30px;
        width: 50%;
        padding: 0 5px;
    }

    &__link {
        color: $color-primary;
        @include font-size(13px);
        letter-spacing: 0.1em;
        text-decoration: none;

        transition: color 0.25s ease;

        &:hover,
        &:focus {
            color: $color-secondary;
        }
    }
}
