mixin contact-details(data)
    // start contact details 
    .contact-details&attributes(attributes)
        h2.contact-details__title Contact Details

        ul.contact-details__list
            each item in data
                li.contact-details__item
                    .contact-details__label= item.label
                    .contact-details__text= item.text
    // end contact details 
