/**
 * Styles for the contact details block
 */
.contact-details {
    // Selector styles
    // TODO: add code

    // @media queries
    @include breakpoint-up(lg) {
        padding: 0 1.5em;
    }

    // Pseudo-classes and pseudo-elements
    // TODO: add code

    // Nested selectors
    // TODO: add code

    // BEM elements
    &__title {
        color: $color-secondary;
        font-size: 1.25rem;
        font-weight: $font-weight-bold;
        letter-spacing: 0.085em;
        text-transform: uppercase;
    }

    &__list {
        @include breakpoint-up(lg) {
            margin-top: 2.25em;
        }
    }

    &__item {
        margin-top: 1.5em;

        font-weight: $font-weight-bold;
        text-transform: uppercase;
    }

    &__label {
        display: block;

        color: $color-secondary;
        font-family: $font-family-title;
        font-size: 0.9375rem;
    }

    &__text {
        display: block;
        margin-top: 0.825em;

        font-size: 0.75rem;
    }

    // BEM modifiers
    // TODO: add code
}