/**
 * Star Rating
 */
.rating {
    &__stars,
    &__highlighted {
        display: block;
        height: 12px;

        background: {
            image: url('../img/star-rating.svg');
            position: 0 0;
            repeat: no-repeat;
        }
    }

    &__stars {
        position: relative;

        width: 60px;
    }

    &__highlighted {
        left: 0;
        position: absolute;
        top: 0;

        text-indent: -999px;

        background-position-y: -12px;

        overflow: hidden;
    }
}
