/**
 * Styles for the star rating block
 */
.rating {
    // Selector styles
    // TODO: add code

    // @media queries
    // TODO: add code

    // Pseudo-classes and pseudo-elements
    // TODO: add code

    // Nested selectors
    // TODO: add code

    // BEM elements
    &__stars,
    &__highlighted {
        display: block;
        height: 0.75em;

        background: {
            image: url('../img/star-rating.svg');
            position: 0 0;
            repeat: no-repeat;
        }
    }

    &__stars {
        position: relative;

        width: 3.75em;
    }

    &__highlighted {
        left: 0;
        position: absolute;
        top: 0;

        text-indent: -100em;

        background-position-y: -0.75em;

        overflow: hidden;
    }

    // BEM modifiers
    // TODO: add code
}
