/**
 * Styles for the related products block
 */
.related-products {
    // Selector styles
    padding: 1.5em 0 4.375em;

    border-top: 1px solid $color-gallery;

    // @media queries
    @include breakpoint-up(lg) {
        padding-bottom: 6.25em;
    }

    // Pseudo-classes and pseudo-elements
    // TODO: add code

    // Nested selectors
    // TODO: add code

    // BEM elements
    &__inner {
        padding: 0 0.625em;

        overflow: hidden;

        @include breakpoint-up(lg) {
            margin: 0 auto;
            max-width: 59.375em;
        }
    }

    &__list {
        margin-top: 4.375em;
    }

    // BEM modifiers
    // TODO: add code
}
