mixin related-products(data)
    section.related-products&attributes(attributes)
        .related-products__inner
            +title().related-products__title Related products

            ul.related-products__list
                each product in data
                    li.related-products__item
                        +product(product)
        // /.related-products__inner 
    // /.related-products 
