/**
 * Menu Product
 */
.menu-product {
    // Selector styles
    @include clearfix();

    // @media queries
    // TODO: add code

    // Pseudo-classes and pseudo-elements
    // TODO: add code

    // Nested selectors
    // TODO: add code

    // BEM elements
    &__thumb {
        float: left;
        position: relative;

        height: 4.375em;
        margin-right: 1.875em;
        width: 4.375em;

        @include breakpoint-up(lg) {
            height: 5.375em;
            margin-right: 3.25em;
            width: 5.375em;
        }
    }

    &__price {
        clear: left;
        float: left;
        margin-left: 0.5em;
        margin-top: 1em;

        font-size: 1.3125rem;

        @include breakpoint-up(md) {
            clear: none;
            float: right;
            margin-left: 1.425em;
            margin-top: 0.7em;
        }

        @include breakpoint-up(lg) {
            margin-left: 8em;

            font-size: 1.5625rem;
        }
    }

    &__text {
        overflow: hidden;

        @include breakpoint-up(md) {
            margin-top: 1em;
        }
    }

    &__label {
        left: 0;
        position: absolute;
        top: -2.25em;
        z-index: 1;

        display: block;
        height: 4.45em;
        width: 4.45em;

        font-family: $font-family-title;
        font-size: 0.5625rem;
        font-weight: $font-weight-bold;
        color: $color-white;
        line-height: 4.45em;
        letter-spacing: 0.3em;
        text-align: center;
        text-transform: uppercase;

        background: $color-secondary;
        border-radius: 50%;

        pointer-events: none;

        @include breakpoint-up(lg) {
            top: -2.5em;

            height: 5em;
            width: 5em;

            font-size: 0.625rem;
            line-height: 5em;
        }
    }

    &__img {
        display: block;
        max-width: 100%;

        border-radius: 50%;
    }

    &__link {
        left: 0;
        position: absolute;
        top: 0;

        align-items: center;
        display: flex;
        justify-content: center;
        height: 100%;
        width: 100%;

        color: $color-white;
        font-size: 1.875rem;

        background: rgba($color-secondary, 0.9);
        border-radius: 50%;
        opacity: 0;
        transition: opacity 0.25s ease;

        &:hover,
        &:focus {
            opacity: 1;
        }
    }

    &__title {
        font-size: 0.875rem;
        font-weight: $font-weight-bold;
        line-height: 1.7;
        letter-spacing: 0.05em;
    }

    &__desc {
        margin-top: 0.25em;
    }

    &__price-decimals {
        color: $color-iron;
    }

    // BEM modifiers
    // TODO: add code
}