/**
 * Styles for the date picker block (override default pikaday styles)
 */
.date-picker {
    // Selector styles
    color: $color-primary;
    font-family: $font-family-regular;

    border: 3px solid $color-athens-gray;

    // @media queries
    // TODO: add code

    // Pseudo-classes and pseudo-elements
    // TODO: add code

    // Nested selectors
    &.is-bound {
        box-shadow: none;
    }

    &.bottom-aligned {
        margin-top: 0.6875em;
    }

    .pika-lendar {
        margin: 0.625em;
    }

    .pika-label {
        font-size: 0.875rem;
        font-weight: $font-weight-bold;
        letter-spacing: 0.1em;
    }

    .pika-label:nth-child(2) {
        color: $color-silver-chalice;
    }

    .pika-prev,
    .pika-next {
        background: transparent;

        &:before {
            content: "";

            left: 50%;
            position: absolute;
            top: 50%;

            display: block;
            height: 0.6em;
            width: 0.6em;

            border-left: 1px solid $color-primary;
            border-top: 1px solid $color-primary;
            transform-origin: center;
        }
    }

    .pika-prev {
        margin-left: 0.75em;

        &:before {
            transform: translate(-50%, -50%) rotate(-45deg);
        }
    }

    .pika-next {
        margin-right: 0.75em;

        &:before {
            transform: translate(-50%, -50%) rotate(135deg);
        }
    }

    .pika-table {
        th {
            padding: 1em 0;

            line-height: 1.2;

            abbr {
                color: $color-silver-chalice;
                font-size: 0.75rem;
                font-weight: $font-weight-regular;
                letter-spacing: 0.1em;
                text-decoration: none;
            }
        }
    }

    .pika-day {
        padding: 0.425em 0;

        color: $color-primary;
        font-family: $font-family-regular;
        font-size: 0.875rem;
        font-weight: $font-weight-bold;
        letter-spacing: 0.05em;
        text-align: center;

        background: transparent;

        &:hover {
            color: $color-secondary;
        }
    }

    .is-selected .pika-day {
        color: $color-secondary;

        border-radius: 0;
        box-shadow: none;
    }

    .is-disabled .pika-day {
        color: $color-botticelli;

        opacity: 1;
    }

    // BEM elements
    // TODO: add code

    // BEM modifiers
    // TODO: add code
}
