/**
 * Styles for the date picker block (override default pikaday styles)
 */
.date-picker {
    margin-top: 11px;

    color: $color-primary;
    font-family: $font-family-regular;

    border: 3px solid $color-athens-gray;

    &.is-bound {
        box-shadow: none;
    }

    .pika-lendar {
        margin: 10px;
    }

    .pika-label {
        @include font-size(14px);
        font-weight: $font-weight-bold;
        letter-spacing: 0.1em;
    }

    .pika-label:nth-child(2) {
        color: $color-silver-chalice;
    }

    .pika-prev,
    .pika-next {
        background: transparent;

        &:before {
            content: "";

            left: 50%;
            position: absolute;
            top: 50%;

            display: block;
            height: 8px;
            width: 8px;

            border-left: 1px solid $color-primary;
            border-top: 1px solid $color-primary;
            transform-origin: center;
        }
    }

    .pika-prev {
        margin-left: 10px;

        &:before {
            transform: translate(-50%, -50%) rotate(-45deg);
        }
    }

    .pika-next {
        margin-right: 10px;

        &:before {
            transform: translate(-50%, -50%) rotate(135deg);
        }
    }

    .pika-table {
        th {
            padding: 12px 0;

            line-height: 1.2;

            abbr {
                color: $color-silver-chalice;
                @include font-size(12px);
                font-weight: $font-weight-regular;
                letter-spacing: 0.1em;
                text-decoration: none;
            }
        }
    }

    .pika-day {
        padding: 6px 0;

        color: $color-primary;
        font-family: $font-family-regular;
        @include font-size(14px);
        font-weight: $font-weight-bold;
        letter-spacing: 0.05em;
        text-align: center;

        background: transparent;

        &:hover {
            color: $color-secondary;
        }
    }

    .is-selected .pika-day {
        color: $color-secondary;

        border-radius: 0;
        box-shadow: none;
    }

    .is-disabled .pika-day {
        color: $color-botticelli;

        opacity: 1;
    }
}
