/**
 * Styles for the checkout order block.
 */
.checkout-order {
    // Selector styles
    width: 100%;

    // @media queries
    // TODO: add code

    // Pseudo-classes and pseudo-elements
    // TODO: add code

    // Nested selectors
    // TODO: add code

    // BEM elements
    &__header {
        padding: 1.25em 0;

        font-size: 0.75rem;
        font-weight: $font-weight-bold;
        letter-spacing: 0.2em;
        text-align: left;
        text-transform: uppercase;
        vertical-align: middle;

        border-bottom: 1px solid $color-gallery;
    }

    &__cell {
        padding: 1.25rem 0;

        font-size: 0.75rem;
        vertical-align: middle;

        border-bottom: 1px solid $color-gallery;
    }

    &__product-name {
        font-size: 0.875rem;
        font-weight: $font-weight-bold;
        line-height: 1.6;
        letter-spacing: 0.05em;
    }

    &__shipping {
        text-transform: uppercase;
    }

    &__total {
        font-size: 1.25rem;
    }

    // BEM modifiers
    // TODO: add code
}
