/**
 * Styles for the loader block
 */
.loader {
    // Selector styles
    overflow: hidden;

    text-indent: -100em;

    border-color: $color-gallery;
    border-radius: 50%;
    border-style: solid;
    border-top-color: $color-primary;

    animation: loader-spin 1s linear infinite;

    // @media queries
    // TODO: add code

    // Pseudo-classes and pseudo-elements
    // TODO: add code

    // Nested selectors
    // TODO: add code

    // BEM elements
    // TODO: add code

    // BEM modifiers
    &_size_s {
        height: 1em;
        width: 1em;

        border-width: 2px;
    }

    &_size_l {
        height: 3.125em;
        width: 3.125em;

        border-width: 5px;
    }
}

@keyframes loader-spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
