/**
 * Product Page Top Section
 */
.product-page-top {
    position: relative;

    padding: 70px 0 45px;

    @include breakpoint-up(lg) {
        padding-bottom: 75px;
        padding-top: 100px;
    }

    &__alert {
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;

        @include breakpoint-up(lg) {
            max-width: 1200px;
            margin: 0 auto;
            padding: 0 10px;
        }
    }

    &__inner {
        margin: 0 auto;
        max-width: 1200px;
        padding: 0 10px;

        @include breakpoint-up(lg) {
            display: flex;
        }
    }

    &__images {
        margin: 0 auto;
        max-width: 450px;

        @include breakpoint-up(lg) {
            margin: 0;
            max-width: none;
            width: 50%;
        }
    }

    &__info {
        margin-top: 50px;

        @include breakpoint-up(lg) {
            width: 50%;
            margin-left: 40px;
            margin-top: 0;
        }
    }
}
