mixin product-page-top(data)
    .product-page-top&attributes(attributes)
        +alert().product-page-top__alert

        .product-page-top__inner
            +product-images(data.images).product-page-top__images
            +product-info(data.info).product-page-top__info
