mixin mobile-search()
    form(action="#" method="post").mobile-search
        input(type="text" placeholder="Search...").mobile-search__input
        button(type="submit").mobile-search__submit
            +icon('search')
