mixin mobile-search()
    form(action="#" method="post").mobile-search&attributes(attributes)
        input(type="text" name="q" placeholder="Search...").mobile-search__input
        button(type="submit").mobile-search__submit
            +icon('search', 'Search')
