mixin reviews(data)
    .reviews&attributes(attributes)
        ol.reviews__list
            each review in data
                +review(review).reviews__review
        // /.reviews__inner 
    // /.reviews 
