/**
 * Styles for the reviews block
 */
 .reviews {
    padding: 70px 0 65px;

    &__list {
        margin: 0 auto;
        max-width: 950px;
        padding: 0 10px;
    }

    &__review {
        &:not(:first-child) {
            margin-top: 40px;

            @include breakpoint-up(lg) {
                margin-top: 80px;
            }
        }
    }
}
