mixin reviews(data)
    // start reviews 
    .reviews&attributes(attributes)
        .reviews__inner
            each review in data
                +review(review).reviews__review
    // end reviews 
