/**
 * Styles for the reviews block
 */
 .reviews {
    // Selector styles
    padding: 4.375em 0 4em;

    // @media queries
    // TODO: add code

    // Pseudo-classes and pseudo-elements
    // TODO: add code

    // Nested selectors
    // TODO: add code

    // BEM elements
    &__list {
        margin: 0 auto;
        max-width: 59.375em;
        padding: 0 0.625em;
    }

    &__review {
        &:not(:first-child) {
            margin-top: 2.5em;

            @include breakpoint-up(lg) {
                margin-top: 5em;
            }
        }
    }

    // BEM modifiers
    // TODO: add code
}
