mixin portfolio(data)
    .portfolio&attributes(attributes)
        +portfolio-filter(data.filters).portfolio__filter
        .portfolio__container
            +portfolio-grid(data.items).portfolio__grid#portfolio(
                aria-live     = "polite"
                aria-relevant = "additions"
                aria-busy     = "false"
            )
            .portfolio__more
                button(
                    type          = "button"
                    aria-controls = "portfolio"
                ).portfolio__more-btn Load more projects
            // /.portfolio__more 
        // /.portfolio__container 
    // /.portfolio 
