/**
 * Styles for the portfolio block
 */
.portfolio {
    padding: 65px 0;

    @include breakpoint-up(lg) {
        padding-bottom: 85px;
        padding-top: 85px;
    }

    &__container {
        margin: 50px auto 0;
        padding: 0 10px;

        text-align: center;

        @include breakpoint-up(sm) {
            max-width: 1200px;
        }

        @include breakpoint-up(lg) {
            margin-top: 70px;
        }
    }

    &__more {
        text-align: center;
    }

    &__more-btn {
        display: inline-block;
        margin-top: 30px;

        font-family: $font-family-regular;
        @include font-size(12px);
        font-weight: $font-weight-bold;
        color: $color-primary;
        letter-spacing: 0.1em;
        text-transform: uppercase;

        background: none;
        border: none;
        cursor: pointer;
        outline: none;

        transition: color 0.25s ease;

        @include breakpoint-up(lg) {
            margin-top: 36px;
        }

        &:after {
            content: "...";

            display: block;
            margin-top: -10px;

            @include font-size(30px);
        }

        &:hover {
            color: $color-secondary;
        }

        &:focus {
            box-shadow: 0 0 0 2px rgba($color-focus, 0.5);
        }

        &_hidden {
            display: none;
        }
    }

    &__loader {
        display: inline-block;
        margin-top: 30px;
    }

    &__error {
        margin-top: 20px;
    }
}
