/**
 * Styles for the portfolio block
 */
.portfolio {
    // Selector styles
    padding: 4em 0;

    // @media queries
    @include breakpoint-up(lg) {
        padding-bottom: 5.25em;
        padding-top: 5.25em;
    }

    // Pseudo-classes and pseudo-elements
    // TODO: add code

    // Nested selectors
    // TODO: add code

    // BEM elements
    &__container {
        margin: 3.125em auto 0;
        padding: 0 0.625em;

        text-align: center;

        @include breakpoint-up(sm) {
            max-width: 75em;
        }

        @include breakpoint-up(lg) {
            margin-top: 4.375em;
        }
    }

    &__more {
        text-align: center;
    }

    &__more-btn {
        display: inline-block;
        margin-top: 2.5em;

        font-family: $font-family-regular;
        font-size: 0.75rem;
        font-weight: $font-weight-bold;
        color: $color-primary;
        letter-spacing: 0.1em;
        text-transform: uppercase;

        background: none;
        border: none;
        cursor: pointer;
        outline: none;

        transition: color 0.25s ease;

        @include breakpoint-up(lg) {
            margin-top: 3em;
        }

        &:after {
            content: "...";

            display: block;
            margin-top: -0.3333em;

            font-size: 1.875rem;
        }

        &:hover {
            color: $color-secondary;
        }

        .focus-utility &:focus {
            box-shadow: 0 0 0 0.2em rgba($color-focus, 0.5);
        }

        &_hidden {
            display: none;
        }
    }

    &__loader {
        display: inline-block;
        margin-top: 1.875em;
    }

    &__error {
        margin-top: 1.8em;
    }

    // BEM modifiers
    // TODO: add code
}
