/**
 * Styles for the rich text block
 */
.rich-text {
    color: $color-tundora;
    line-height: 2.5;
    letter-spacing: .15em;

    * + * {
        margin-top: 2em;
    }

    h3 {
        color: $color-black;
        font-size: 1.25em;
        font-weight: $font-weight-bold;
        text-transform: uppercase;
    }

    h3 + p {
        margin-top: 1em;
    }

    blockquote {
        padding-left: 1.5em;

        color: $color-black;
        font-size: 1.1667em;

        border-left: 3px solid $color-athens-gray;
    }

    &_small-size {
        @include font-size(11px);
    }

    &_small-spacing {
        line-height: 2;
    }
}
