/**
 * Styles for the project carousel block
 */
.project-carousel {
    &__inner {
        position: relative;

        margin: 0 auto;
        max-width: 1244px;
        padding: 0 10px;
    }

    &__container {
        margin: 0 auto;
        max-width: 1180px;
    }

    &__img {
        display: block;
        max-width: 100%;
    }

    &__arrows {
        display: none;

        @include breakpoint-up(lg) {
            left: 0;
            position: absolute;
            right: 0;
            top: 50%;

            display: flex;
            justify-content: space-between;
            margin: 0 auto;
            padding: 0 5px;

            transform: translateY(-50%);
        }
    }

    &__arrow {
        @include breakpoint-up(lg) {
            position: relative;

            display: inline-block;
            height: 55px;
            margin-top: -26px;
            width: 55px;

            text-indent: -9999px;

            background: $color-ebony-clay;
            border: none;
            cursor: pointer;
            outline: none;
            transition: background-color 0.25s ease;
        }

        &:after {
            @include breakpoint-up(lg) {
                content: "";

                position: absolute;
                top: 22px;

                display: block;
                height: 13px;
                width: 13px;

                border-left: 2px solid $color-white;
                border-bottom: 2px solid $color-white;
            }
        }

        &:hover {
            @include breakpoint-up(lg) {
                background: $color-secondary;
            }
        }

        &:focus {
            box-shadow: 0 0 0 3px rgba($color-primary, 0.6);
        }

        &_dir_prev {
            &:after {
                @include breakpoint-up(lg) {
                    right: 18px;
                    transform: rotate(45deg);
                }
            }
        }

        &_dir_next {
            &:after {
                @include breakpoint-up(lg) {
                    left: 18px;
                    transform: rotate(225deg);
                }
            }
        }
    }

    .slick-dots {
        bottom: 25px;
        left: 0;
        position: absolute;
        right: 0;

        display: flex;
        justify-content: center;

        @include breakpoint-up(lg) {
            bottom: 50px;
        }
    }

    .slick-dots button {
        display: block;
        height: 15px;
        margin: 0 7px;
        padding: 0;
        width: 15px;

        text-indent: -9999px;

        background: transparent;
        border: 2px solid $color-white;
        border-radius: 50%;
        cursor: pointer;
        outline: none;
        transition: background-color 0.25s ease;

        &:not(:first-child) {
            margin-left: 15px;
        }

        &:hover,
        &:focus {
            background: $color-white;
        }
    }

    .slick-dots .slick-active button {
        background: $color-white;
    }
}
