/**
 * Styles for the project carousel block
 */
.project-carousel {
    // Selector styles
    // TODO: add code

    // @media queries
    // TODO: add code

    // Pseudo-classes and pseudo-elements
    // TODO: add code

    // Nested selectors
    .slick-dots {
        bottom: 1.5em;
        left: 0;
        position: absolute;
        right: 0;

        display: flex;
        justify-content: center;

        @include breakpoint-up(lg) {
            bottom: 3.125em;
        }
    }

    .slick-dots button {
        display: block;
        height: 1.125em;
        margin: 0 0.5em;
        padding: 0;
        width: 1.125em;

        text-indent: -100em;

        background: transparent;
        border: 2px solid $color-white;
        border-radius: 50%;
        cursor: pointer;
        outline: none;

        overflow: hidden;
        transition: background-color 0.25s ease;

        &:not(:first-child) {
            margin-left: 1.125em;
        }

        &:hover,
        &:focus {
            background: $color-white;
        }
    }

    .slick-dots .slick-active button {
        background: $color-white;
    }

    // BEM elements
    &__inner {
        position: relative;

        margin: 0 auto;
        max-width: 77.75em;
        padding: 0 0.625em;
    }

    &__container {
        margin: 0 auto;
        max-width: 73.75em;
    }

    &__img {
        display: block;
        max-width: 100%;
    }

    &__arrows {
        display: none;

        @include breakpoint-up(lg) {
            left: 0;
            position: absolute;
            right: 0;
            top: 50%;

            display: flex;
            justify-content: space-between;
            margin: 0 auto;
            padding: 0 0.625em;

            transform: translateY(-50%);
        }
    }

    &__arrow {
        @include breakpoint-up(lg) {
            position: relative;

            display: inline-block;
            height: 3.5em;
            margin-top: 1.75em;
            width: 3.5em;

            font-size: 1rem;
            text-indent: -100em;

            background: $color-ebony-clay;
            border: none;
            cursor: pointer;
            outline: none;
            transition: background-color 0.25s ease;
        }

        &:after {
            @include breakpoint-up(lg) {
                content: "";

                position: absolute;
                top: 1.375em;

                display: block;
                height: 0.8125em;
                width: 0.8125em;

                border-left: 0.125em solid $color-white;
                border-bottom: 0.125em solid $color-white;
            }
        }

        &:hover {
            @include breakpoint-up(lg) {
                background: $color-secondary;
            }
        }

        &:focus {
            box-shadow: 0 0 0 3px rgba($color-primary, 0.6);
        }

        &_dir_prev {
            &:after {
                @include breakpoint-up(lg) {
                    right: 1.125em;
                    transform: rotate(45deg);
                }
            }
        }

        &_dir_next {
            &:after {
                @include breakpoint-up(lg) {
                    left: 1.125em;
                    transform: rotate(225deg);
                }
            }
        }
    }

    // BEM modifiers
    // TODO: add code
}
