//-
    name: text-area
    description: Markup for the text area block
    arguments:
        - {object} props - block properties
        - {string} props.theme - block theme

mixin text-area(props = {})
    - const theme = props.theme || 'default';
    textarea.text-area(class=`text-area_theme_${theme}`)&attributes(attributes)
        if block
            block
