/**
 * Styles for the text area block
 */
.text-area {
    display: block;
    height: 90px;
    min-width: 0;
    padding: 6px 0;
    width: 100%;

    color: $color-primary;
    font-family: $font-family-regular;
    @include font-size(15px);
    font-weight: $font-weight-bold;
    line-height: 25px;

    background: $color-white;
    border: none;
    border-bottom: 3px solid $color-catskill-white;
    outline: none;

    overflow: auto;

    &::placeholder {
        color: $color-primary;
        font-weight: $font-weight-regular;
        opacity: 1;
    }

    &_theme_small {
        height: 100px;
        padding: 11px 0;

        @include font-size(11px);
        letter-spacing: 0.2em;

        &::placeholder {
            text-transform: uppercase;
        }
    }

    &_theme_checkout {
        height: 100px;
        padding: 11px 0;

        font-weight: $font-weight-regular;

        &::placeholder {
            color: $color-silver-sand;
        }
    }

    &_invalid {
        border-bottom-color: $color-error;
    }
}
