mixin shop-cats(data)
    // start categories 
    .shop-cats&attributes(attributes)
        .shop-cats__inner
            button(type="button").shop-cats__toggle Filter

            ul.shop-cats__list
                each cat, i in data
                    li.shop-cats__item
                        a.shop-cats__link(
                            href="shop.html"
                            class=(i == 0) ? 'shop-cats__link_active' : ''
                        )= cat
    // end categories 
