/**
 * Styles for the hamburger block
 */
.hamburger {
    display: inline-block;
    padding: 10px 0;

    color: $color-black;

    background: transparent;
    border: none;
    cursor: pointer;

    &__inner {
        position: relative;

        display: inline-block;
        height: 14px;
        width: 16px;
    }

    &__inner:before,
    &__inner:after {
        content: "";
    }

    &__inner:before,
    &__inner:after,
    &__title {
        left: 0;
        position: absolute;

        display: inline-block;
        height: 2px;
        width: 100%;

        text-indent: -9999px;

        background: $color-black;

        overflow: hidden;
        transition: all 0.25s linear;
    }

    &__inner:before {
        top: 0;

        transform-origin: 0 0;
    }

    &__inner:after {
        bottom: 0;

        transform-origin: 0 100%;
    }

    &__title {
        top: 50%;

        transform: translateY(-50%);
    }

    &:hover,
    &:focus {
        color: $color-secondary;

        .hamburger__inner:before,
        .hamburger__inner:after,
        .hamburger__title {
            background: $color-secondary;
        }
    }

    &_open {
        .hamburger__inner:before {
            transform: translateX(1px) scale(1.1) rotate(45deg);
        }

        .hamburger__inner:after {
            transform: translateX(1px) scale(1.1) rotate(-45deg);
        }

        .hamburger__title {
            opacity: 0;
        }
    }

    &:focus {
        outline: 1px dotted;
    }
}