//-
    name: hamburger
    description: Markup for the menu hamburger block

mixin hamburger(title)
    button.hamburger&attributes(attributes)
        span.hamburger__inner
            span.hamburger__title= title
