//-
    name: specials
    description: Markup for the specials section block
    arguments:
        - {object} props - block properties
        - {string} props.title - section title
        - {string} props.subtitle - section subtitle
        - {array} props.slides - slider slides

mixin specials(props = {})
    section.specials
        .specials__inner
            +heading-group({
                title: props.title,
                subtitle: props.subtitle,
                level: 2,
            }).specials__heading

            +specials-slider(props).specials__slider
        // .specials__inner 
    // .specials 
