/**
 * Styles for the button block
 */
.btn {
    display: inline-block;
    margin: 0;

    font-family: $font-family-regular;
    
    font-weight: $font-weight-bold;
    letter-spacing: 0.15em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    border: none;
    cursor: pointer;
    outline: none;
    transition: background-color 0.2s ease-in;

    &_theme_default {
        color: $color-white;
        background: $color-primary;

        &:hover,
        &:focus {
            background: $color-secondary;
        }
    }

    &_theme_light {
        color: $color-primary;
        background: $color-catskill-white;

        &:hover,
        &:focus {
            color: $color-catskill-white;
            background: $color-primary;
        }
    }

    &_size_default {
        padding: 18px 25px;
        @include font-size(11px);
    }

    &_size_small {
        padding: 12px 25px;
        @include font-size(12px);
    }
}
