mixin btn(data, type = 'button', mods = {})
    -
        const classObj = {
            ['btn_theme_' + (mods.theme || 'default')]: true,
            ['btn_size_'  + (mods.size  || 'default')]: true,
        };
    if type == 'link'
        a.btn(
            href  = data.link
            class = classObj
        )&attributes(attributes)= data.title
    else
        button.btn(
            type  = type
            class = classObj
        )&attributes(attributes)= data.title
