/**
 * Styles for the mini cart block
 */
.mini-cart {
    position: relative;

    &__trigger {
        display: block;
        padding: 25px 5px;

        color: inherit;
        @include font-size(12px);
        white-space: nowrap;

        background: transparent;
        border: none;
        cursor: pointer;

        transition: color 0.25s ease;

        &:hover {
            color: $color-secondary;
        }
    }

    &__item-count {
        display: inline-block;
        margin-left: 6px;

        font-weight: $font-weight-bold;
        line-height: 1;
        vertical-align: top;
    }

    &__drawer {
        position: absolute;
        right: 0;
        top: 100%;

        padding: 5px;

        font-weight: $font-weight-bold;
        text-align: center;

        background: $color-white;
        box-shadow: 1px 1px 3px rgba($color-black, 0.3);
        opacity: 0;

        transition: opacity 0.2s ease-out,
                    visibility 0.2s step-start 0.2s;
        visibility: hidden;

        &_expanded {
            opacity: 1;

            transition-delay: 0s;
            visibility: visible;
        }
    }

    &__total,
    &__action {
        display: block;
        padding: 13px 22px;

        color: $color-primary;
        white-space: nowrap;
    }

    &__action {
        text-decoration: none;

        &:hover,
        &:focus {
            color: $color-secondary;
        }
    }
}
