//-
    name: project-info
    description: Markup for the project info block
    arguments:
        - {object} props - block properties
        - {string} props.client - project client
        - {string} props.role - project role
        - {string} props.agency - project agency

mixin project-info(props = {})
    .project-info&attributes(attributes)
        .project-info__inner
            dl.project-info__list
                .project-info__item
                    dt.project-info__label Client
                    dd.project-info__value= props.client
                .project-info__item
                    dt.project-info__label Role
                    dd.project-info__value= props.role
                .project-info__item
                    dt.project-info__label Agency
                    dd.project-info__value= props.agency
        // .project-info__inner 
    // .project-info 
