extends ../layouts/inner

include ../../blocks/about/about-bottom/about-bottom
include ../../blocks/about/about-gallery/about-gallery
include ../../blocks/about/opening-hours/opening-hours

block append page
    +section(data.content.history)
    +section(data.content.goals, {reverse: true})
    +about-bottom({
        gallery: data.content.gallery,
        openingHours: data.content.openingHours,
    })
