extends ../layouts/inner.pug

include ../../blocks/about/about-bottom/about-bottom.pug
include ../../blocks/about/about-gallery/about-gallery.pug
include ../../blocks/about/opening-hours/opening-hours.pug

block append page
    +section(data.content.history)
    +section(data.content.goals)
    +about-bottom({
        gallery: data.content.gallery,
        openingHours: data.content.openingHours,
    })
