extends ../layouts/inner

include ../../blocks/blog/article/article
include ../../blocks/blog/blog-cats/blog-cats
include ../../blocks/blog/blog-gallery/blog-gallery
include ../../blocks/blog/blog-layout/blog-layout
include ../../blocks/blog/blog-search/blog-search
include ../../blocks/blog/blog-sidebar/blog-sidebar
include ../../blocks/blog/popular-posts/popular-posts
include ../../blocks/blog/share/share
include ../../blocks/blog/video/video

block append page
    +blog-layout(data.content, {sidebar: 'left'})
