extends ../layouts/base.pug

include ../../blocks/index/cta/cta.pug
include ../../blocks/index/recent-posts/recent-posts.pug
include ../../blocks/index/services/services.pug
include ../../blocks/index/slider/slider.pug
include ../../blocks/index/specials/specials.pug
include ../../blocks/index/specials-carousel/specials-carousel.pug
include ../../blocks/index/testimonial/testimonial.pug

block page
    +slider(data.content.slider)
    +section(data.content.about)
    +specials(data.content.specials)
    +section(data.content.menu, {reverse: true})
    +testimonial(data.content.testimonial)
    +section(data.content.reservation)
    +services(data.content.services)
    +cta(data.content.cta)
    +recent-posts(data.content.recentPosts)
    +section(data.content.contact, {reverse: true})
