extends ../layouts/base

include ../../blocks/index/cta/cta
include ../../blocks/index/recent-posts/recent-posts
include ../../blocks/index/services/services
include ../../blocks/index/slider/slider
include ../../blocks/index/specials/specials
include ../../blocks/index/specials-carousel/specials-carousel
include ../../blocks/index/testimonial/testimonial

block page
    +slider(data.content.slider)
    +section(data.content.about)
    +specials(data.content.specials)
    +section(data.content.menu, {reverse: true})
    +testimonial(data.content.testimonial)
    +section(data.content.reservation)
    +services(data.content.services)
    +cta(data.content.cta)
    +recent-posts(data.content.recentPosts)
    +section(data.content.contact, {reverse: true})
