extends ../layouts/base.pug

include ../../blocks/common/slider/slider.pug
include ../../blocks/common/specials/specials.pug
include ../../blocks/common/specials-slider/specials-slider.pug
include ../../blocks/common/testimonial/testimonial.pug
include ../../blocks/common/services/services.pug
include ../../blocks/common/cta/cta.pug
include ../../blocks/common/recent-posts/recent-posts.pug

block page
    +slider(data.content.slider)
    +section(data.content.about)
    +specials(data.content.specials)
    +section(data.content.menu, {reverse: true})
    +testimonial(data.content.testimonial)
    +section(data.content.reservation)
    +services(data.content.services)
    +cta(data.content.cta)
    +recent-posts(data.content.recentPosts)
    +section(data.content.contact, {reverse: true})
