extends ../layouts/inner.pug

include ../../blocks/menu/menu/menu.pug
include ../../blocks/menu/menu-cat/menu-cat.pug
include ../../blocks/menu/menu-product/menu-product.pug

block append page
    +section(data.content.discover, {reverse: true})
    +menu(data.content.menu)
