extends ../layouts/base.pug

include ../../blocks/index/slider/slider.pug
include ../../blocks/index/gallery/gallery.pug
include ../../blocks/index/testimonial/testimonial.pug
include ../../blocks/index/specials/specials.pug
include ../../blocks/index/specials-carousel/specials-carousel.pug

include ../../blocks/menu/menu/menu.pug
include ../../blocks/menu/menu-cat/menu-cat.pug
include ../../blocks/menu/menu-product/menu-product.pug
include ../../blocks/menu/menu-section/menu-section.pug

include ../../blocks/reservation/reservation-form/reservation-form.pug

include ../../blocks/contact/contact-bottom/contact-bottom.pug
include ../../blocks/contact/contact-details/contact-details.pug
include ../../blocks/contact/contact-form/contact-form.pug

block page
    +slider(data.content.slider)
    +section(data.content.about)#about
    +gallery(data.content.gallery)
    +section(data.content.menuIntro, {reverse: true})#menu
    +menu(data.content.menu)
    +testimonial(data.content.testimonial, {reverse: true})
    +section(data.content.reservation)#reservation
    +reservation-form()
    +specials(data.content.specials)
    +section(data.content.contact, {reverse: true})#contact
    +contact-bottom({details: data.content.contactDetails})
