extends ../layouts/base.pug

include ../../blocks/common/slider/slider.pug
include ../../blocks/common/gallery/gallery.pug
include ../../blocks/common/testimonial/testimonial.pug
include ../../blocks/common/specials/specials.pug
include ../../blocks/common/specials-slider/specials-slider.pug

include ../../blocks/menu/menu/menu.pug
include ../../blocks/menu/menu-cat/menu-cat.pug
include ../../blocks/menu/menu-product/menu-product.pug

include ../../blocks/reservation/reservation/reservation.pug

include ../../blocks/contact/contact-bottom/contact-bottom.pug
include ../../blocks/contact/contact-details/contact-details.pug
include ../../blocks/contact/contact-form/contact-form.pug

block page
    +slider(data.content.slider)
    +section(data.content.about)
    +gallery(data.content.gallery)
    +section(data.content.menuIntro)
    +menu(data.content.menu)
    +testimonial(data.content.testimonial, {reverse: true})
    +section(data.content.reservationIntro)
    +reservation(data.content.reservation)
    +specials(data.content.specials)
    +section(data.content.contact)
    +contact-bottom({details: data.content.contactDetails})

block append scripts
    script(src='js/reservation.js?v=1.3.1')
