extends ../layouts/inner.pug

include ../../blocks/portfolio/project/project.pug
include ../../blocks/portfolio/project-info/project-info.pug
include ../../blocks/portfolio/project-slider/project-slider.pug
include ../../blocks/portfolio/project-desc/project-desc.pug

block append page
    +project(data.content)