extends ../layouts/inner.pug

include ../../blocks/portfolio-single/project-layout/project-layout.pug
include ../../blocks/portfolio-single/project-info/project-info.pug
include ../../blocks/portfolio-single/project-carousel/project-carousel.pug
include ../../blocks/portfolio-single/project-desc/project-desc.pug

block append page
    +project-layout(data.content)