extends ../layouts/inner.pug

include ../../blocks/portfolio/portfolio/portfolio.pug
include ../../blocks/portfolio/portfolio-filter/portfolio-filter.pug
include ../../blocks/portfolio/portfolio-grid/portfolio-grid.pug
include ../../blocks/portfolio/portfolio-more/portfolio-more.pug

block append page
    +portfolio(data.content)
