extends ../layouts/inner.pug

include ../../blocks/reservation/reservation/reservation.pug

block append page
    +section(data.content.online)
    +reservation(data.content.reservation)

block append scripts
    script(src='js/reservation.js?v=1.3.1')
