extends ../layouts/inner.pug

include ../../blocks/shop/product-page-top/product-page-top.pug
include ../../blocks/shop/alert/alert.pug
include ../../blocks/shop/product-images/product-images.pug
include ../../blocks/shop/product-info/product-info.pug
include ../../blocks/shop/rating/rating.pug
include ../../blocks/shop/product-add/product-add.pug
include ../../blocks/shop/product-desc/product-desc.pug
include ../../blocks/shop/reviews/reviews.pug
include ../../blocks/shop/review/review.pug
include ../../blocks/shop/review-form/review-form.pug
include ../../blocks/shop/rating-input/rating-input.pug
include ../../blocks/shop/related-products/related-products.pug
include ../../blocks/shop/product/product.pug

block append page
    +product-page-top({
        images: data.content.images,
        info: data.content.info
    })
    +tabs([{
        title: 'Description',
        id: 'description',
        blocks: [{
            name: 'product-desc',
            content: data.content.desc,
        }],
    }, {
        title: 'Reviews(' + data.content.reviews.length + ')',
        active: true,
        id: 'reviews',
        blocks: [{
            name: 'reviews',
            content: data.content.reviews,
        }, {
            name: 'review-form',
        }],
    }])
    +related-products(data.content.relatedProducts)
