extends ../layouts/inner.pug

include ../../blocks/shop/alert/alert.pug
include ../../blocks/shop/cart-form/cart-form.pug
include ../../blocks/shop/cart-totals/cart-totals.pug
include ../../blocks/shop/cart-shipping/cart-shipping.pug

block append page
    +cart-form(data.content.items)
    +cart-totals(data.content.totals)
