extends ../layouts/inner.pug

include ../../blocks/shop/notice/notice.pug
include ../../blocks/shop/cart-form/cart-form.pug
include ../../blocks/shop/cart-totals/cart-totals.pug
include ../../blocks/shop/shipping-calc/shipping-calc.pug

block append page
    +cart-form({ items: data.content.items })
    +cart-totals(data.content.totals)
