extends ../layouts/inner.pug

include ../../blocks/shop/checkout/checkout.pug
include ../../blocks/shop/review-order/review-order.pug
include ../../blocks/shop/payment/payment.pug

block append page
    +checkout(data.content)
