.page {
    padding-top: 85px;

    font: {
        family: $font-family-regular;
        weight: $font-weight-regular;
    }
    line-height: $line-height-regular;
    color: $color-primary;

    background: $color-white;

    @include breakpoint-up(lg) {
        padding-top: 0;
    }

    &__header {
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 100;

        margin-top: auto;

        @include breakpoint-up(lg) {
            position: absolute;
        }

        &_scroll {
            @include breakpoint-up(lg) {
                position: fixed;

                margin-top: 0;

                transition: margin-top 0.25s linear;
            }
        }

        /* Don't show the header until scrolled to a certain position */
        &_hidden {
            @include breakpoint-up(lg) {
                margin-top: -100px;
            }
        }
    }

    &_home {
        @include breakpoint-up(lg) {
            padding-top: 100px;
        }
    }
}
