/**
 * Styles for the page block
 */
.page {
    // Selector styles
    padding-top: 5.25em;

    font: {
        family: $font-family-regular;
        weight: $font-weight-regular;
    }
    line-height: $line-height-regular;
    color: $color-primary;

    background: $color-white;

    // @media queries
    @include breakpoint-up(lg) {
        padding-top: 0;
    }

    // Pseudo-classes and pseudo-elements
    // TODO: add code

    // Nested selectors
    // TODO: add code

    // BEM elements
    &__skip-link {
        left: 0;
        position: fixed;
        top: 0;
        z-index: 200;

        transform: translateY(-100px);

        &:focus {
            transform: translateY(0);
        }
    }

    // BEM modifiers
    &_home {
        @include breakpoint-up(lg) {
            padding-top: 6.25em;
        }
    }

    &_menu-expanded {
        overflow: hidden;

        @include breakpoint-up(lg) {
            overflow: auto;
        }
    }
}
