//-
    name: cart-totals
    description: Markup for the shopping cart totals block
    arguments:
        - {object} props - block options
        - {number} props.subtotal - subtotal cart value
        - {number} props.total - total cart value

mixin cart-totals(props)
    .cart-totals&attributes(attributes)
        .cart-totals__inner
            table.cart-totals__table
                tr
                    th.cart-totals__table-header Subtotal
                    td.cart-totals__table-cell $#{props.subtotal.toFixed(2)}
                tr
                    th.cart-totals__table-header Shipping
                    td.cart-totals__table-cell
                        .cart-totals__shipping
                            ul.cart-totals__shipping-methods
                                li.cart-totals__shipping-method Free shipping

                            +shipping-calc().cart-totals__shipping-calc
                tr
                    th.cart-totals__table-header Total
                    td.cart-totals__table-cell
                        strong.cart-totals__order-total
                            | $#{props.total.toFixed(2)}

            .cart-totals__checkout
                +btn({ link: 'shop-checkout.html'}).cart-totals__checkout-btn
                    | Proceed to checkout
        // .cart-totals__inner 
    // .cart-totals 
