mixin cart-totals(data)
    .cart-totals&attributes(attributes)
        .cart-totals__inner
            table.cart-totals__table
                tr
                    th.cart-totals__table-header Subtotal
                    td.cart-totals__table-cell $#{data.subtotal.toFixed(2)}
                tr
                    th.cart-totals__table-header Shipping
                    td.cart-totals__table-cell
                        +cart-shipping().cart-totals__shipping
                tr
                    th.cart-totals__table-header Total
                    td.cart-totals__table-cell
                        strong.cart-totals__order-total
                            | $#{data.total.toFixed(2)}

            .cart-totals__checkout
                +btn({
                    title : 'Proceed to checkout',
                    link  : 'shop-checkout.html',
                }).cart-totals__checkout-btn
        // /.cart-totals__inner 
    // /.cart-totals 
