/**
 * Styles for the shopping cart totals block
 */
.cart-totals {
    // Selector styles
    position: relative;

    padding: 3.125em 0 4.375em;

    border-top: 1px solid $color-gallery;

    // @media queries
    @include breakpoint-up(lg) {
        padding-bottom: 6.25em;
        padding-top: 4.385em;
    }

    // Pseudo-classes and pseudo-elements
    // TODO: add code

    // Nested selectors
    // TODO: add code

    // BEM elements
    &__inner {
        margin: 0 auto;
        max-width: 75em;
        padding: 0 0.625em;

        &_processing {
            opacity: 0.6;

            pointer-events: none;
        }
    }

    &__loader {
        left: 50%;
        position: absolute;
        top: 50%;

        transform: translate(-50%, -50%);
    }

    &__table {
        max-width: 28.75em;
        width: 100%;
    }

    &__table-header {
        padding: 1.25em 0;

        font-size: 0.75rem;
        font-weight: $font-weight-bold;
        text-align: left;
        text-transform: uppercase;

        @include breakpoint-up(sm) {
            width: 50%;
        }
    }

    &__table-cell {
        padding: 1.25em 0;

        font-size: 0.75rem;
        text-align: right;
    }

    &__order-total {
        font-size: 1.25rem;
    }

    &__shipping-method {
        text-transform: uppercase;
    }

    &__shipping-calc {
        margin-top: 1.875em;
    }

    &__checkout {
        margin-top: 3.75em;

        @include breakpoint-up(md) {
            margin-top: 4.375em;

            text-align: right;
        }
    }

    &__checkout-btn {
        display: block;
        max-width: 42em;
        width: 100%;

        @include breakpoint-up(md) {
            display: inline-block;
            width: 22em;
        }
    }

    // BEM modifiers
    // TODO: add code
}
