/**
 * Styles for the cart totals block
 */
.cart-totals {
    position: relative;

    padding: 50px 0 70px;

    border-top: 1px solid $color-gallery;

    @include breakpoint-up(lg) {
        padding-bottom: 100px;
        padding-top: 70px;
    }

    &__inner {
        margin: 0 auto;
        max-width: 1200px;
        padding: 0 10px;

        &_processing {
            opacity: 0.6;

            pointer-events: none;
        }
    }

    &__loader {
        left: 50%;
        position: absolute;
        top: 50%;

        transform: translate(-50%, -50%);
    }

    &__table {
        max-width: 460px;
        width: 100%;
    }

    &__table-header {
        padding: 15px 0;

        font-weight: $font-weight-bold;
        text-align: left;
        text-transform: uppercase;

        @include breakpoint-up(sm) {
            width: 50%;
        }
    }

    &__table-cell {
        padding: 15px 0;

        text-align: right;
    }

    &__order-total {
        @include font-size(20px);
    }

    &__checkout {
        margin-top: 60px;

        @include breakpoint-up(md) {
            margin-top: 70px;

            text-align: right;
        }
    }

    &__checkout-btn {
        display: block;
        max-width: 460px;
        width: 100%;

        @include breakpoint-up(md) {
            display: inline-block;
            width: 240px;
        }
    }
}
