/**
 * Styles for the single product page block.
 */
.single-product {
    // Selector styles
    position: relative;

    padding-top: 4.375em;

    // @media queries
    @include breakpoint-up(lg) {
        padding-top: 6.25em;
    }

    // Pseudo-classes and pseudo-elements
    // TODO: add code

    // Nested selectors
    // TODO: add code

    // BEM elements
    &__notice {
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
        width: 100%;

        @include breakpoint-up(lg) {
            max-width: 75em;
            margin: 0 auto;
            padding: 0 0.625em;
        }
    }

    &__top {
        margin: 0 auto;
        max-width: 75em;
        padding: 0 0.625em;

        @include breakpoint-up(lg) {
            display: flex;
        }
    }

    &__gallery {
        @include breakpoint-up(lg) {
            margin: 0;
            max-width: none;
            width: 50%;
        }
    }

    &__info {
        margin-top: 3.125em;

        @include breakpoint-up(lg) {
            width: 50%;
            margin-left: 2.5em;
            margin-top: 0;
        }
    }

    &__breadcrumb {
        display: none;

        @include breakpoint-up(lg) {
            display: block;
        }
    }

    &__title {
        font-family: $font-family-title;
        font-weight: $font-weight-bold;
        font-size: 1.875rem;
        letter-spacing: 0.3em;

        text-transform: lowercase;

        @include breakpoint-up(lg) {
            margin-top: 0.6667em;
        }
    }

    &__reviews {
        display: flex;
        margin-top: 1.5em;
    }

    &__reviews-total {
        font-size: 0.75rem;
        color: $color-tundora;
        letter-spacing: 0.15em;
    }

    &__rating {
        margin-left: 0.625em;
    }

    &__price {
        margin-top: 1.2em;

        color: $color-secondary;
        font-size: 1.5625rem;
        letter-spacing: 0.05em;
    }

    &__short-desc {
        margin-top: 1.6667em;
    }

    &__add-to-cart {
        margin-top: 2.5em;
    }

    &__tabs {
        margin-top: 2.75em;

        @include breakpoint-up(lg) {
            margin-top: 4.75em;
        }
    }

    // BEM modifiers
    // TODO: add code
}
