/**
 * Styles for the shop filter block
 */
.shop-filter {
    text-align: center;

    @include breakpoint-up(md) {
        border-bottom: 1px solid $color-gallery;
    }

    &__inner {
        position: relative;

        display: inline-block;

        @include breakpoint-up(md) {
            display: block;
            margin: 0 auto;
            max-width: 1200px;
            padding: 0 10px;
        }
    }

    &__toggle {
        padding: 16px 0;

        color: $color-secondary;
        font-family: $font-family-regular;
        @include font-size(12px);
        font-weight: $font-weight-bold;
        letter-spacing: 0.15em;
        text-transform: uppercase;

        background: transparent;
        border: none;
        border-bottom: 1px solid $color-concrete;
        cursor: pointer;

        &:-moz-focusring {
            outline: 1px dotted;
        }

        @include breakpoint-up(md) {
            display: none;
        }
    }

    &__list {
        left: 50%;
        position: absolute;
        top: 100%;
        z-index: 100;

        padding: 5px 0;

        background: $color-white;
        border: 1px solid $color-athens-gray;
        opacity: 0;

        transform: translate(-50%, 0);
        transition: opacity 0.25s ease,
                    visibility 0s step-start 0.25s;
        visibility: hidden;

        @include breakpoint-up(md) {
            position: static;

            display: flex;
            justify-content: center;
            padding: 0;

            border: none;
            opacity: 1;

            transform: none;
            visibility: visible;
        }

        &_visible {
            opacity: 1;

            transition-delay: 0s;
            visibility: visible;
        }
    }

    &__item {
        @include breakpoint-up(md) {
            padding: 0 50px;
        }
    }

    &__link {
        display: block;
        padding: 13px 39px;

        color: $color-primary;
        font-family: $font-family-regular;
        font-weight: $font-weight-bold;
        letter-spacing: 0.15em;
        text-decoration: none;
        text-transform: uppercase;
        white-space: nowrap;

        transition: color 0.25s ease;

        @include breakpoint-up(md) {
            padding: 20px 0;

            position: relative;
        }

        &:after {
            @include breakpoint-up(md) {
                content: "";

                left: 0;
                position: absolute;
                right: 0;
                bottom: -1px;

                display: block;
                height: 2px;

                background: $color-secondary;
                opacity: 0;

                transition: opacity 0.25s ease;
            }
        }

        &:hover,
        &:focus,
        &_active {
            color: $color-secondary;
        }

        &_active {
            &:after {
                @include breakpoint-up(md) {
                    opacity: 1;
                }
            }
        }
    }
}
