mixin specials(data)
    section.specials
        .specials__inner
            +heading-group({
                title: data.title,
                subtitle: data.subtitle,
                level: 2,
            }).specials__heading

            +specials-slider(data.slides).specials__slider
        // /.specials__inner 
    // /.specials 