mixin specials(data)
    // start specials section 
    section.specials
        .specials__inner
            +heading-group({
                title: data.title,
                subtitle: data.subtitle,
            }).specials__heading

            +specials-carousel(data.slides).specials__carousel
    // end specials section 
