/**
 * Styles for the product gallery block
 */
.product-gallery {
    // Selector styles
    // TODO: add code

    // @media queries
    @include breakpoint-up(sm) {
        display: flex;
    }

    // Pseudo-classes and pseudo-elements
    // TODO: add code

    // Nested selectors
    .slick-dots {
        bottom: 1.5em;
        left: 0;
        position: absolute;
        right: 0;

        display: flex;
        justify-content: center;

        button {
            display: block;
            height: 1.125em;
            margin: 0 0.5em;
            padding: 0;
            width: 1.125em;

            text-indent: -100em;

            background: transparent;
            border: 2px solid $color-white;
            border-radius: 50%;
            cursor: pointer;
            outline: none;

            overflow: hidden;
            transition: background-color 0.25s ease;

            &:not(:first-child) {
                margin-left: 1.125em;
            }

            &:hover,
            &:focus {
                background: $color-white;
            }
        }

        .slick-active button {
            background: $color-white;
        }
    }

    // BEM elements
    &__nav {
        display: none;

        @include breakpoint-up(sm) {
            display: block;
            flex: 0 0 6.25em;
        }

        .slick-slide {
            margin-bottom: 1em;

            cursor: pointer;
            opacity: 0.15;

            @include breakpoint-up(md) {
                margin-bottom: 1.5em;
            }

            @include breakpoint-up(lg) {
                margin-bottom: 1em;
            }

            @include breakpoint-up(xl) {
                margin-bottom: 1.5em;
            }
        }

        .slick-current {
            opacity: 1;
        }
    }

    &__slide-img {
        max-width: 100%;
    }

    &__container {
        flex: 1 1;
        overflow: hidden;

        @include breakpoint-up(sm) {
            margin-left: 1em;
        }

        @include breakpoint-up(md) {
            margin-left: 1.5em;
        }

        @include breakpoint-up(lg) {
            margin-left: 1em;
        }

        @include breakpoint-up(xl) {
            margin-left: 1.5em;
        }
    }

    // BEM modifiers
    // TODO: add code
}
