/**
 * Styles for the error page block
 */
.error-page {
    // Selector styles
    background: {
        color: $color-primary;
        position: center;
        repeat: no-repeat;
        size: cover;
    }

    // @media queries
    // TODO: add code

    // Pseudo-classes and pseudo-elements
    // TODO: add code

    // Nested selectors
    // TODO: add code

    // BEM elements
    &__inner {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        max-width: 75em;
        min-height: calc(100vh - 6.25em);
        padding: 5.25em 0.625em;

        @include breakpoint-up(md) {
            text-align: center;
        }
    }

    &__text {
        font-weight: $font-weight-bold;
        letter-spacing: 0.1em;
        text-transform: lowercase;
    }

    &__code {
        color: $color-white;
        font-family: $font-family-title;
        font-size: 8.375rem;

        @include breakpoint-up(lg) {
            font-size: 18.75rem;
        }
    }

    &__msg {
        color: $color-secondary;
        font-size: 1.5rem;

        @include breakpoint-up(lg) {
            margin-top: -0.5em;
            font-size: 1.875rem;
        }
    }

    &__back {
        margin-top: 4em;
        width: 16.25em;

        @include breakpoint-up(lg) {
            margin-top: 9em;
        }
    }

    // BEM modifiers
    // TODO: add code
}
