/**
 * Styles for the select block.
 */
.select {
    // Selector styles
    position: relative;

    // @media queries
    // TODO: add code

    // Pseudo-classes and pseudo-elements
    // TODO: add code

    // Nested selectors
    // TODO: add code

    // BEM elements
    &__origin {
        position: absolute;
        height: 1px;
        margin: -1px;
        padding: 0;
        width: 1px;
        border: 0;
        clip: rect(0 0 0 0); 
        
        overflow: hidden;
    }

    &__button {
        display: block;
        padding: 0.4em 0;
        width: 100%;

        color: $color-primary;
        font-family: inherit;
        font-size: 0.9375rem;
        font-weight: $font-weight-bold;
        line-height: 1.675em;
        text-align: left;

        background: transparent;
        border: 0;
        border-bottom: 3px solid $color-catskill-white;
        cursor: pointer;

        &:focus {
            border-bottom-color: $color-focus;
        }

        &[aria-expanded="true"] {
            border-bottom-color: $color-focus;
        }

        &:after {
            content: "";

            bottom: auto;
            left: auto;
            position: absolute;
            right: 0.125em;
            top: 50%;

            height: 0.5em;
            width: 0.5em;

            border: none;
            border-bottom: 1px solid $color-primary;
            border-right: 1px solid $color-primary;

            transform: translate(-50%, -75%) rotate(45deg);
            transform-origin: 70% 70%;
            transition: transform 0.25s linear;
        }

        &[aria-expanded="true"]:after {
            transform: translate(-50%, -75%) rotate(-135deg);
        }
    }

    &__list {
        left: 0;
        right: 0;
        position: absolute;
        z-index: 100;
        
        max-height: 16.25em;

        overflow-y: auto;
        
        visibility: hidden;

        background: $color-white;
        border: 3px solid $color-athens-gray;
        box-shadow: 1px 1px 3px rgba($color-black, 0.15);

        margin-bottom: 0.625em;
        margin-top: 0.625em;

        &_expanded {
            visibility: visible;
        }
    }

    &__option {
        padding: 0.3em 0 0.3em 1.425em;

        font-size: 0.875rem;
        letter-spacing: 0.1em;
        text-align: left;

        cursor: pointer;

        &:first-child {
            padding-top: 0.525em;
        }

        &:last-child {
            padding-bottom: 0.525em;
        }

        &_highlighted {
            font-weight: $font-weight-bold;
        }
    }

    // BEM modifiers
    &_theme_small {
        text-transform: uppercase;

        .select__button {
            padding: 1em 0;

            font-size: 0.9375em;
            letter-spacing: 0.2em;
        }

        .select__option {
            padding: 1.025em 0.9em;

            font-size: 0.9375em;
            letter-spacing: 0.2em;
        }
    }

    &_theme_checkout {
        .select__button {
            padding: 0.725em 0;

            font-weight: $font-weight-regular;
        }
    }

    &_error {
        .select__button {
            border-bottom-color: $color-error;

            &:focus {
                border-bottom-color: $color-focus;
            }

            &[aria-expanded="true"] {
                border-bottom-color: $color-focus;
            }
        }
    }
}
