mixin portfolio-filter(data)
    .portfolio-filter&attributes(attributes)
        .portfolio-filter__inner
            button(
                type          = "button"
                aria-haspopup = "true"
                aria-expanded = "false"
                aria-controls = "portfolio-filter"
            ).portfolio-filter__toggle Filter

            ul.portfolio-filter__list(
                role                  = "listbox"
                aria-label            = "Portfolio Filter"
                aria-orientation      = "vertical"
                tabindex              = "0"
                aria-activedescendant = "filter-" + data[0].toLowerCase()
            )#portfolio-filter
                each filter, i in data
                    li.portfolio-filter__item(role="presentation")
                        button.portfolio-filter__btn(
                            type          = "button"
                            class         = !i && 'portfolio-filter__btn_active'
                            role          = "option"
                            tabindex      = "-1"
                            aria-selected = String(!i)
                            data-filter   = filter.toLowerCase()
                            id            = "filter-" + filter.toLowerCase()
                        )= filter
        // /.portfolio-filter__inner 
    // /.portfolio-filter 
