mixin portfolio-grid__item(data)
    .portfolio-grid__item(
        data-groups=`["${data.categories.join(",")}"]`
    )&attributes(attributes)
        .portfolio-grid__item-inner
            img(src=data.image alt=data.title).portfolio-grid__img

            .portfolio-grid__text
                h2.portfolio-grid__title
                    a(href=data.link).portfolio-grid__link= data.title

                ul.portfolio-grid__cats
                    each cat in data.categories
                        li.portfolio-grid__cat-item
                            a(
                                href        = "javascript:void(0);"
                                role        = "button"
                                data-filter = cat.toLowerCase()
                            ).portfolio-grid__cat-link= cat

mixin portfolio-grid(data)
    .portfolio-grid&attributes(attributes)
        .portfolio-grid__inner
            each item in data
                +portfolio-grid__item(item)
            
            .portfolio-grid__sizer
        // /.portfolio-grid__inner 
    // /.portfolio-grid 
