/**
 * Styles for the portfolio grid block
 */
.portfolio-grid {
    // Selector styles
    overflow: hidden;

    // @media queries
    // TODO: add code

    // Pseudo-classes and pseudo-elements
    // TODO: add code

    // Nested selectors
    // TODO: add code

    // BEM elements
    &__container {
        @include breakpoint-up(sm) {
            display: flex;
            flex-flow: row wrap;
            margin: -0.3125em;
        }
    }

    &__sizer {
        @include breakpoint-up(sm) {
            width: 50%;
        }

        @include breakpoint-up(md) {
            width: 33.3333%;
        }
    }

    &__item {
        padding: 0.3125em;

        @include breakpoint-up(sm) {
            width: 50%;
        }

        @include breakpoint-up(md) {
            width: 33.3333%;
        }
    }

    &__item-inner {
        position: relative;
    }

    &__img {
        display: block;
        max-width: 100%;
    }

    &__overlay {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;

        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0.625em;

        letter-spacing: 0.3em;
        text-decoration: none;
        text-transform: uppercase;

        background: rgba($color-primary, 0.9);
        opacity: 0;

        transition: opacity 0.25s ease;

        &:hover,
        &_has-focus {
            opacity: 1;
        }
    }

    &__title {
        font-size: 0.75rem;
    }

    &__link {
        color: $color-white;
        text-decoration: none;

        transition: color 0.25s ease;

        &:hover,
        &:focus {
            color: $color-athens-gray;
        }

        &:before {
            content: "";

            bottom: 0;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
        }
    }

    &__cats {
        position: relative;

        margin-top: 0.4375em;
    }

    &__cat-item {
        display: inline-block;
    }

    &__cat-link {
        display: block;
        padding: 0 1em;

        color: $color-white;
        font-size: 0.625rem;
        font-weight: $font-weight-bold;
        text-decoration: none;

        cursor: pointer;

        transition: color 0.25s ease;

        &:hover,
        &:focus {
            color: $color-secondary;
        }
    }

    // BEM modifiers
    // TODO: add code
}
