mixin star-rating(data)
    .star-rating&attributes(attributes)
        - let i = 1;
        while i <= 5
            input(
                type     = "radio"
                id       = "star-rating-" + i
                name     = data.name
                value    = i
                required = (i == 1) && !!data.required
            ).star-rating__radio
            label.star-rating__label(
                class = "star-rating__label_value_" + i
                for   = "star-rating-" + i
            ) #{i} out of 5
            - i++;
