mixin products(data)
    .products&attributes(attributes)
        .products__inner
            ul.products__list
                each product in data
                    li.products__product
                        +product(product)
        // /.products__inner 
    // /.products 
