/**
 * SVG Icons
 */
.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon_calendar {
	width: (20 / 21) * 1em;
}
.icon_cart {
	width: (15 / 12) * 1em;
}
.icon_fb {
	width: (6 / 12) * 1em;
}
.icon_gplus {
	width: (12 / 12) * 1em;
}
.icon_people {
	width: (20 / 21) * 1em;
}
.icon_play {
	width: (34 / 44) * 1em;
}
.icon_search {
	width: (16 / 16) * 1em;
}
.icon_share {
	width: (10 / 9) * 1em;
}
.icon_time {
	width: (20 / 20) * 1em;
}
.icon_twitter {
	width: (15 / 12) * 1em;
}
.icon_zoom {
	width: (38 / 38) * 1em;
}
