/**
 * Styles for the share block
 */
.share {
    &__toggle {
        padding: 10px 0;

        letter-spacing: 0.15em;
        text-transform: uppercase;

        background: transparent;
        border: 0;
        cursor: pointer;

        &:-moz-focusring {
            outline: 1px dotted;
        }
    }

    &__icon {
        margin-left: 8px;

        @include font-size(10px);
    }

    &__drop {
        padding: 8px 0;

        background: $color-catskill-white;
    }

    &__link {
        display: block;
        padding: 8px 25px;

        color: $color-primary;
        text-decoration: none;
        text-transform: uppercase;

        transition: color 0.25s ease;

        &:hover,
        &:focus {
            color: $color-secondary;
        }
    }
}
