//-
    name: share
    description: Markup for the share block

mixin share()
    .share&attributes(attributes)
        button(
            aria-expanded = "false"
            aria-controls = "share"
        ).share__trigger
            span Share
            +icon('share').share__icon

        ul.share__drawer#share
            li.share__item
                a(href="javascript:void(0);").share__link Facebook
            li.share__item
                a(href="javascript:void(0);").share__link Twitter
            li.share__item
                a(href="javascript:void(0);").share__link Google+
            li.share__item
                a(href="javascript:void(0);").share__link Pinterest
        // .share__drawer 
    // .share 
