mixin review-form()
    form(action="#" method="post").review-form&attributes(attributes)
        .review-form__inner
            +title().review-form__title Add a review

            .review-form__fields
                .review-form__field
                    label(
                        for = "review-author"
                        id  = "label-author"
                    ).review-form__label Author
                    +input({theme: 'small'})(
                        id              = "review-author"
                        aria-labelledby = "label-author"
                        name            = "author"
                        placeholder     = "Name"
                        required
                    ).review-form__input

                .review-form__field
                    label(
                        for = "review-email"
                        id  = "label-email"
                    ).review-form__label Email
                    +input({theme: 'small'})(
                        type            = "email"
                        id              = "review-email"
                        aria-labelledby = "label-email"
                        name            = "email"
                        placeholder     = "Email"
                        required
                    ).review-form__input

                fieldset.review-form__field.review-form__field_radio-group
                    legend.review-form__legend Your rating
                    
                    +star-rating({
                        name     : 'rating',
                        required : true,
                    }).review-form__rating

                .review-form__field.review-form__field_wide
                    label(
                        for = "review-comment"
                        id  = "label-comment"
                    ).review-form__label Your review
                    +text-area({theme: 'small'})(
                        id              = "review-comment"
                        aria-labelledby = "label-comment"
                        name            = "comment"
                        placeholder     = "Message"
                        required
                    ).review-form__input

            .review-form__bottom
                +btn({title: 'Submit'}, 'submit').review-form__submit
        // /.review-form__inner 
