/**
 * Styles for the review form block
 */
.review-form {
    padding: 25px 0 70px;

    border-top: 1px solid $color-gallery;

    @include breakpoint-up(lg) {
        padding-bottom: 100px;
    }

    &__inner {
        margin: 0 auto;
        max-width: 950px;
        padding: 0 10px;

        overflow: hidden;
    }

    &__title {
        margin-bottom: 50px;
    }

    &__bottom {
        margin-top: 50px;

        text-align: center;

        @include breakpoint-up(md) {
            margin-top: 25px;
        }
    }

    &__submit {
        width: 180px;
    }
}
