/**
 * Styles for the input block.
 */
.input {
    // Selector styles
    display: block;
    height: 2.625em;
    min-width: 0;

    color: $color-primary;
    font-family: $font-family-regular;
    font-size: 0.9375rem;
    font-weight: $font-weight-bold;
    line-height: 2.625em;

    background: $color-white;
    border: none;
    border-bottom: 3px solid $color-catskill-white;
    outline: none;

    // @media queries
    // TODO: add code

    // Pseudo-classes and pseudo-elements
    &::placeholder {
        color: $color-primary;
        font-weight: $font-weight-regular;
        line-height: 2.625em;

        opacity: 1;
    }

    &:focus {
        border-bottom-color: $color-focus;
    }

    // Nested selectors
    // TODO: add code

    // BEM elements
    // TODO: add code

    // BEM modifiers
    &_theme_small,
    &_theme_quantity {
        height: 4.5em;

        font-size: 0.6875rem;
        letter-spacing: 0.2em;

        &::placeholder {
            line-height: 4.5em;
            text-transform: uppercase;
        }
    }

    &_theme_coupon {
        height: 3.3333em;

        font-size: 0.9375rem;
        text-align: center;

        &::placeholder {
            line-height: 3.3;
        }
    }

    &_theme_number {
        height: 2em;

        font-size: 1.5625rem;
        font-weight: $font-weight-regular;
        line-height: 2em;
        text-align: center;

        /* stylelint-disable-next-line property-no-vendor-prefix */
        -moz-appearance: textfield;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            /* stylelint-disable-next-line property-no-vendor-prefix */
            -webkit-appearance: none;
        }

        &::placeholder {
            line-height: 2em;
        }
    }

    &_theme_checkout {
        height: 3.3333em;

        font-size: 0.9375rem;;
        font-weight: $font-weight-regular;
        line-height: 4.125em;

        &::placeholder {
            color: $color-silver-sand;
            line-height: 3.3333;
        }
    }

    &_invalid {
        border-bottom-color: $color-error;

        &:focus {
            border-bottom-color: $color-error;
        }
    }
}
