/**
 * Styles for the input block.
 */
.input {
    display: block;
    min-width: 0;
    padding: 6px 0;

    color: $color-primary;
    font-family: $font-family-regular;
    @include font-size(15px);
    font-weight: $font-weight-bold;
    line-height: 25px;
    background: $color-white;
    border: none;
    border-bottom: 3px solid $color-catskill-white;

    &::placeholder {
        color: $color-primary;
        font-weight: $font-weight-regular;
        opacity: 1;
    }

    &_theme_small,
    &_theme_quantity {
        padding: 11px 0;

        @include font-size(11px);
        letter-spacing: 0.2em;

        &::placeholder {
            text-transform: uppercase;
        }
    }

    &_theme_coupon {
        text-align: center;
    }

    &_theme_number {
        padding: 11px 0;

        @include font-size(25px);
        font-weight: $font-weight-regular;
        text-align: center;

        /* stylelint-disable-next-line property-no-vendor-prefix */
        -moz-appearance: textfield;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            /* stylelint-disable-next-line property-no-vendor-prefix */
            -webkit-appearance: none;
        }
    }

    &_theme_checkout {
        padding: 11px 0;

        font-weight: $font-weight-regular;

        &::placeholder {
            color: $color-silver-sand;
        }
    }

    &_invalid {
        border-bottom-color: $color-error;
    }
}
