/**
 * Styles for the notice block
 */
.notice {
    // Selector styles
    padding: 1.875rem 0.625rem;

    letter-spacing: 0.15em;

    background: $color-catskill-white;
    opacity: 1;

    transition: opacity 0.25s ease;

    // @media queries
    @include breakpoint-up(lg) {
        display: flex;
        justify-content: space-between;
        padding: 1.5em;
    }

    // Pseudo-classes and pseudo-elements
    // TODO: add code

    // Nested selectors
    // TODO: add code

    // BEM elements
    &__msg {
        font-size: 0.75rem;
    }

    &__link {
        display: inline-block;
        margin-top: 1.6667em;

        color: $color-primary;
        font-size: 0.75rem;
        font-weight: $font-weight-bold;
        text-decoration: none;
        text-transform: uppercase;

        border-bottom: 2px solid $color-primary;

        transition: all 0.2s linear;

        @include breakpoint-up(lg) {
            margin-top: 0;
        }

        &:hover {
            color: $color-secondary;

            border-color: $color-secondary;
        }

        .focus-utility &:focus {
            box-shadow: 0 0 0 0.25em rgba($color-focus, 0.5);
        }
    }

    // BEM modifiers
    // TODO: add code
}
