mixin comment-form()
    form.comment-form(action="#" method="post")&attributes(attributes)
        .comment-form__fields
            input(type="hidden" name="reply-to")

            .comment-form__input-group
                label(
                    for = "comment-name"
                    id  = "label-name"
                ).comment-form__label
                +input({theme: 'small'})(
                    type            = "text"
                    name            = "name"
                    id              = "comment-name"
                    aria-labelledby = "label-name"
                    placeholder     = "Name"
                    required
                ).comment-form__input Name

            .comment-form__input-group
                label(
                    for = "comment-email"
                    id  = "label-email"
                ).comment-form__label Email
                +input({theme: 'small'})(
                    type            = "email"
                    name            = "email"
                    id              = "comment-email"
                    aria-labelledby = "label-email"
                    placeholder     = "Email"
                    required
                ).comment-form__input

            .comment-form__input-group.comment-form__input-group_wide
                label(
                    for = "comment-message"
                    id  = "label-message"
                ).comment-form__label Message
                +text-area({theme: 'small'})(
                    name            = "message"
                    placeholder     = "Message"
                    id              = "comment-message"
                    aria-labelledby = "label-message"
                    required
                ).comment-form__input
        // /.comment-form__fields 

        +btn({title: 'Post comment'}, 'submit').comment-form__submit
    // /.comment-form 
