/**
 * Styles for the comment form block
 */
.comment-form {
    // Selector styles
    // TODO: add code

    // @media queries
    // TODO: add code

    // Pseudo-classes and pseudo-elements
    // TODO: add code

    // Nested selectors
    // TODO: add code

    // BEM elements
    &__submit {
        display: block;
        margin: 0 auto 0.2em;
        width: 16.325em;
    }

    // BEM modifiers
    // TODO: add code
}
