/**
 * Styles for the lightbox block
 * This block is used purely to override the default Magnific Popup styles
 */
.lightbox {
    // Selector styles
    // TODO: add code

    // @media queries
    // TODO: add code

    // Pseudo-classes and pseudo-elements
    // TODO: add code

    // Nested selectors
    .mfp-container {
        padding-left: 0.625em;
        padding-right: 0.625em;
    }

    .mfp-close {
        right: 0;

        width: 1em;

        text-align: left;
        text-indent: -100em;

        overflow: hidden;

        &:before,
        &:after {
            content: "";

            right: 0;
            top: 50%;
            position: absolute;

            display: block;
            height: 2px;
            width: 100%;

            background: $color-white;
        }

        &:before {
            transform: translateY(-50%) rotate(45deg);
        }

        &:after {
            transform: translateY(-50%) rotate(-45deg);
        }

        .focus-utility &:focus {
            box-shadow: 0 0 0 0.15em rgba($color-white, 0.5);
        }
    }

    .mfp-arrow-left,
    .mfp-arrow-right {
        .focus-utility &:focus {
            box-shadow: 0 0 0 0.25em rgba($color-white, 0.5);
        }
    }

    .mfp-arrow-left:before,
    .mfp-arrow-right:before {
        position: absolute;

        display: block;
        height: 2em;
        margin-left: 2.25em;
        margin-top: 2.85em;
        width: 2em;

        border: none;
        border-left: 3px solid $color-white;
        border-bottom: 3px solid $color-white;
    }

    .mfp-arrow-left:before {
        transform: rotate(45deg);
    }

    .mfp-arrow-right:before {
        transform: rotate(225deg);
    }

    .mfp-arrow-left:after,
    .mfp-arrow-right:after {
        content: none;
    }

    // BEM elements
    // TODO: add code

    // BEM modifiers
    // TODO: add code
}
