mixin pagination(data, mods={})
    // start pagination 
    .pagination(class=mods.blog ? 'pagination_blog' : '')&attributes(attributes)
        ul.pagination__list
            li.pagination__item
                a(
                    href="javascript:void(0);"
                ).pagination__link.pagination__link_prev Previous
            
            - let i = 1;
            while i <= data.pages
                li.pagination__item
                    a(
                        href="javascript:void(0);"
                        class={
                            pagination__link: true,
                            pagination__link_active: i == data.activePage
                        }
                    )= i
                - i++;              

            li.pagination__item
                a(
                    href="javascript:void(0);"
                ).pagination__link.pagination__link_next Next
    // end pagination 
