/**
 * Pagination
 */
.pagination {
    &__inner {
        display: flex;
        justify-content: space-between;
        padding: 0 10px;

        @include breakpoint-up(xl) {
            margin: 0 auto;
            max-width: 1200px;
        }
    }

    &__item {
        @include breakpoint-up(md) {
            margin: 0 4px;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__link {
        display: block;
        padding: 16px;

        color: $color-primary;
        @include font-size(15px);
        font-weight: $font-weight-bold;
        text-decoration: none;

        transition: color 0.25s ease;

        &_active,
        &:hover {
            color: $color-secondary;
        }

        &_prev,
        &_next {
            position: relative;

            width: 46px;

            text-indent: -999px;

            overflow: hidden;

            &:after {
                content: "";

                position: absolute;
                top: 16px;

                display: block;
                height: 19px;
                width: 19px;

                border-right: 2px solid $color-primary;
                border-bottom: 2px solid $color-primary;
                transition: border-color 0.25s ease;
            }

            &:hover,
            &:focus {
                &:after {
                    border-color: $color-secondary;
                }
            }
        }

        &_prev {
            border-right: 1px solid $color-concrete;

            &:after {
                left: 13px;

                transform: rotate(135deg);
            }
        }

        &_next {
            border-left: 1px solid $color-concrete;

            &:after {
                right: 13px;
                transform: rotate(-45deg);
            }
        }
    }

    &_blog {
        border-bottom: 1px solid $color-concrete;
        border-top: 1px solid $color-concrete;
    }
}
