//-
    name: project-desc
    description: Markup for the project description block
    arguments:
        - {object} props - block properties
        - {string} props.title - project title
        - {string} props.text - text

mixin project-desc(props)
    .project-desc&attributes(attributes)
        .project-desc__inner
            h2.project-desc__title= props.title

            .rich-text.project-desc__text !{props.text}
