mixin project-desc(data)
    .project-desc&attributes(attributes)
        .project-desc__inner
            h2.project-desc__title= data.title

            .rich-text.project-desc__text !{data.text}
            // /.project-desc__text 
        // /.project-desc__inner 
    // /.project-desc 
