/**
 * Styles for the blog sidebar search block
 */
 .blog-search {
    position: relative;

    &__input {
        padding: 10px 0 10px 0;
        width: 100%;

        color: $color-primary;
        font-family: $font-family-regular;
        @include font-size(14px);

        border: none;
        border-bottom: 3px solid #f5f7fa;
        outline: none;

        &::placeholder {
            color: $color-silver-sand;
        }

        &:focus {
            border-bottom-color: $color-focus;
        }
    }

    &__submit {
        right: 0;
        position: absolute;
        top: 50%;

        padding: 0;

        @include font-size(13px);

        background: transparent;
        border: none;
        cursor: pointer;
        outline: none;

        transition: color 0.2s linear;
        transform: translateY(-50%);

        &:hover,
        &:focus {
            color: $color-secondary;
        }

        &:-moz-focusring {
            outline: 1px dotted;
        }
    }
}
