/**
 * Styles for the article author block
 */
.article-author {
    // Selector styles
    text-align: center;

    // @media queries
    @include breakpoint-up(md) {
        display: flex;

        text-align: left;
    }

    // Pseudo-classes and pseudo-elements
    // TODO: add code

    // Nested selectors
    // TODO: add code

    // BEM elements
    &__avatar {
        max-width: 6.25em;

        @include breakpoint-up(md) {
            margin-right: 1.5em;
            margin-top: 0.4375em;
        }
    }

    &__text {
        margin-top: 0.9375em;     
        
        @include breakpoint-up(md) {
            margin-top: 0;
        }
    }

    &__name {
        margin-bottom: 0.725em;
        margin-top: 0.725em;

        font-weight: $font-weight-bold;
        color: $color-black;
        font-size: 0.6875rem;
        letter-spacing: 0.2em;
        text-transform: uppercase;
    }

    &__bio {
        margin-top: 0.4em;
    }

    &__social {
        display: flex;
        justify-content: center;
        margin-top: 0.4em;

        @include breakpoint-up(md) {
            justify-content: flex-start;
        }
    }

    &__social-item:first-child {
        margin-left: -0.6em;
    }

    &__social-link {
        display: block;
        padding: 0.5em 0.75em;
        width: 2.75em;

        color: $color-silver-sand;
        font-size: 0.75rem;
        text-align: center;
        text-decoration: none;

        transition: color 0.25s ease;

        &:hover {
            color: $color-primary;
        }

        .focus-utility &:focus {
            box-shadow: 0 0 0 0.2em rgba($color-focus, 0.5);
        }
    }

    // BEM modifiers
    // TODO: add code
}
