mixin article-author(data)
    section.article-author&attributes(attributes)
        img(src=data.avatar, alt=data.name).article-author__avatar

        .article-author__text
            h3.article-author__name= data.name
            .rich-text.rich-text_small.article-author__bio
                p= data.bio

            ul.article-author__social
                li.article-author__social-item
                    a(href="javascript:void(0);").article-author__social-link
                        +icon('fb', 'Facebook')
                li.article-author__social-item
                    a(href="javascript:void(0);").article-author__social-link
                        +icon('twitter', 'Twitter')
                li.article-author__social-item
                    a(href="javascript:void(0);").article-author__social-link
                        +icon('gplus', 'Google Plus')
        // /.article-author__text 
    // /.article-author 