mixin reservation-form()
    form.reservation-form(action="#" method="post")&attributes(attrributes)
        .reservation-form__inner
            h2.reservation-form__title Make a Reservation

            .reservation-form__fields
                .reservation-form__input-group
                    label.reservation-form__label(
                        for = "reservation-date"
                        id  = "label-date"
                    )
                        +icon('calendar', 'Reservation date')
                    +input()(
                        type            = "text"
                        id              = "reservation-date"
                        name            = "date"
                        aria-labelledby = "label-date"
                        required
                    ).reservation-form__input.reservation-form__date
                    
                .reservation-form__input-group
                    label.reservation-form__label(
                        for = "reservation-time"
                        id  = "label-time"
                    )
                        +icon('time', 'Reservation time')
                    select(
                        id              = "reservation-time"
                        name            = "time"
                        aria-labelledby = "label-time"
                    ).reservation-form__time
                        option(value="") &nbsp;

                .reservation-form__input-group
                    label.reservation-form__label(
                        for = "reservation-party"
                        id  = "label-party"
                    )
                        +icon('people', 'Party size')
                    select(
                        id              = "reservation-party"
                        name            = "party"
                        aria-labelledby = "label-party"
                    ).reservation-form__people
                        option(value="1") 1 Person
                        option(value="2" selected) 2 People
                        - let n = 3;
                        while n <= 20
                            option(value=n) #{n} People
                            - n++;
                        option(value="21") Larger party
            // /.reservation-form__fields 

            .reservation-form__bottom
                +btn({
                    title: 'Find a table'
                }, 'submit').reservation-form__submit
            // /.reservation-form__bottom 
        // /.reservation-form__inner 
    // /.reservation-form 