/**
 * Styles for the menu category block
 */
.menu-cat {
    &__inner {
        margin: 0 auto;
        max-width: 1200px;
        padding: 70px 10px;

        @include breakpoint-up(lg) {
            padding-bottom: 100px;
            padding-top: 100px;
        }
    }

    &__section {
        &:not(:first-child) {
            margin-top: 60px;

            @include breakpoint-up(lg) {
                margin-top: 70px;
            }
        }
    }

    &__section-title {
        font-family: $font-family-cursive;
        @include font-size(22px);
        text-align: center;

        @include breakpoint-up(md) {
            padding-left: 100px;

            text-align: left;
        }

        @include breakpoint-up(lg) {
            padding-left: 140px;
        }
    }

    &__product {
        margin-top: 45px;

        @include breakpoint-up(lg) {
            margin-top: 50px;
        }
    }
}
