mixin services(data)
    section.services&attributes(attributes)
        +heading-group({
            title: data.title,
            subtitle: data.subtitle,
            level: 2,
        })

        .services__list-wrapper
            ul.services__list
                each item in data.items
                    li.services__item= item
        // /.services__list-wrapper 
