/**
 * Styles for the recent posts block
 */
.recent-posts {
    // Selector styles
    padding: 4.375em 0;
    text-align: center;

    // @media queries
    @include breakpoint-up(lg) {
        padding-bottom: 6.25em;
        padding-top: 6.25em;

        background-image: linear-gradient(
            to top,
            $color-alabaster 0,
            $color-alabaster 16.25em,
            $color-white 16.25em
        );
    }

    // Pseudo-classes and pseudo-elements
    // TODO: add code

    // Nested selectors
    // TODO: add code

    // BEM elements
    &__inner {
        margin: 0 auto;
        max-width: 75em;
        padding: 0 0.625em;
    }

    &__list {
        margin: 2.825em -0.625em 0;
        overflow: hidden;

        @include breakpoint-up(md) {
            display: flex;
            justify-content: space-between;
        }

        @include breakpoint-up(lg) {
            margin-top: 3.45em;
        }
    }

    &__item {
        display: block;
        margin: 0 auto;
        max-width: 21.5em;
        padding: 0 0.625em;

        @include breakpoint-up(md) {
            flex: 0 1 21.5em;
            margin: 0;
        }

        &:not(:first-child) {
            margin-top: 4.375em;

            @include breakpoint-up(md) {
                margin-top: 0;
            }
        }
    }

    &__post {
        position: relative;

        background: {
            color: $color-tundora;
            position: center;
            repeat: no-repeat;
            size: cover;
        }

        &:before {
            content: "";

            display: block;
            padding-top: 100%;
        }
    }

    &__post-inner {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;

        align-items: center;
        display: flex;
        flex-direction: column;
        margin: 0.75em;

        background: $color-white;

        transition: transform 0.2s linear;

        &:hover,
        &:focus-within {
            transform: scale(1.05);
        }
    }

    &__date {
        margin-top: 25%;

        color: $color-iron;
        font-size: 1.25rem;
        font-weight: $font-weight-bold;
        letter-spacing: 0.3em;
    }

    &__title {
        max-width: 12.5em;
        margin-top: 12%;

        color: $color-black;
        font-family: $font-family-title;
        font-size: 0.75rem;
        font-weight: $font-weight-bold;
        letter-spacing: 0.2em;
        line-height: 1.67;
        text-transform: uppercase;
    }

    &__link {
        display: block;
        margin-top: auto;
        margin-bottom: 25%;

        color: $color-primary;
        font-size: 2.5rem;
        font-weight: $font-weight-bold;
        letter-spacing: .1em;
        text-decoration: none;

        transition: color 0.2s ease;

        &:hover {
            color: $color-secondary;
        }

        .focus-utility &:focus {
            box-shadow: 0 0 0 0.1em rgba($color-focus, 0.5);
        }

        &:before {
            content: "";

            bottom: -0.3em;
            left: -0.3em;
            position: absolute;
            right: -0.3em;
            top: -0.3em;
        }
    }

    // BEM modifiers
    // TODO: add code
}
