/**
 * Styles for the recent posts block
 */
.recent-posts {
    padding: 70px 0;
    text-align: center;

    @include breakpoint-up(lg) {
        padding-bottom: 100px;
        padding-top: 100px;

        background-image: linear-gradient(
            to top,
            $color-alabaster 0,
            $color-alabaster 260px,
            $color-white 260px
        );
    }

    &__inner {
        margin: 0 auto;
        max-width: 1200px;
        padding: 0 10px;
    }

    &__list {
        margin: 45px -10px 0;
        overflow: hidden;

        @include breakpoint-up(md) {
            display: flex;
            justify-content: space-between;
        }

        @include breakpoint-up(lg) {
            margin-top: 55px;
        }
    }

    &__item {
        display: block;
        margin: 0 auto;
        max-width: 345px;
        padding: 0 10px;

        @include breakpoint-up(md) {
            flex: 0 1 345px;
            margin: 0;
        }

        &:not(:first-child) {
            margin-top: 70px;

            @include breakpoint-up(md) {
                margin-top: 0;
            }
        }
    }

    &__post {
        position: relative;

        background: {
            color: $color-tundora;
            position: center;
            repeat: no-repeat;
            size: cover;
        }

        &:before {
            content: "";

            display: block;
            padding-top: 100%;
        }
    }

    &__post-inner {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;

        align-items: center;
        display: flex;
        flex-direction: column;
        margin: 12px;

        background: $color-white;
    }

    &__date {
        margin-top: 25%;

        color: $color-iron;
        font-weight: $font-weight-bold;
        @include font-size(20px);
        letter-spacing: 0.3em;
    }

    &__title {
        max-width: 150px;
        margin-top: 12%;

        color: $color-black;
        font-family: $font-family-title;
        font-weight: $font-weight-bold;
        letter-spacing: 0.2em;
        line-height: 1.67;
        text-transform: uppercase;
    }

    &__link {
        display: block;
        margin-top: auto;
        margin-bottom: 25%;

        color: $color-primary;
        font-size: 2.5rem;
        font-weight: $font-weight-bold;
        letter-spacing: .1em;
        text-decoration: none;

        transition: color 0.2s ease;

        &:hover {
            color: $color-secondary;
        }
    }
}
