/**
 * Styles for the sidebar widget block.
 */
.sidebar-widget {
    &__title {
        color: $color-primary;
        font-weight: $font-weight-bold;
        letter-spacing: 0.2em;
        text-transform: uppercase;
    }
}
