//-
    name: cta
    description: Markup for the call-to-action block
    arguments:
        - {object} props - block properties
        - {string} props.title - button title
        - {string} props.link - button link

mixin cta(props = {})
    .cta&attributes(attributes)
        .cta__inner
            +btn({
                title: props.title,
                link: props.link,
            }, 'link').cta__btn
        // .cta__inner 
    // .cta 
