mixin cta(data)
    .cta&attributes(attributes)
        .cta__inner
            +btn({
                title: data.title,
                link: data.link,
            }, 'link').cta__btn
    // /.cta 
