//-
    name: cta
    description: Markup for the call-to-action block
    arguments:
        - {object} props - block properties
        - {string} props.title - button title
        - {string} props.link - button link

mixin cta(props = {})
    .cta&attributes(attributes)
        .cta__inner
            +btn({ link: props.link }).cta__btn= props.title
