mixin shop-layout(data)
    .shop-layout&attributes(attributes)
        +shop-filter(data.categories).shop-layout__filter
        +products(data.products).shop-layout__products
        +pagination(data.pagination).shop-layout__pagination
    // /.shop-layout 
