mixin services(data)
    // Begin services section 
    section.services&attributes(attributes)
        +heading-group({
            title: data.title,
            subtitle: data.subtitle,
        })

        .services__list-wrapper
            ul.services__list
                each item in data.items
                    li.services__item= item
    // End services section 
