

mixin project(props)
    .project&attributes(attributes)
        +project-info(props.info).project__info
        +project-carousel({ slides: props.images }).project__carousel
        +project-desc(props.desc).project__desc
