mixin project(data)
    .project&attributes(attributes)
        +project-info(data.info).project__info
        +project-slider(data.images).project__slider
        +project-desc(data.desc).project__desc
