//-
    name: project
    description: Markup for the project block
    arguments:
        - {object} props - block properties
        - {object} props.info - project info data
        - {object[]} props.images - project gallery images
        - {object} props.desc - project description data

mixin project(props)
    .project&attributes(attributes)
        +project-info(props.info).project__info
        +project-carousel({ slides: props.images }).project__carousel
        +project-desc(props.desc).project__desc
