//-
    name: product-list
    description: Markup for the product list block
    arguments:
        - {object} props - block options
        - {object[]} props.items - products
        - {boolean} props.center - align items to center

mixin product-list(props)
    .product-list(
        class=props.center && "product-list_center"
    )&attributes(attributes)
        .product-list__inner
            ul.product-list__items
                each product in props.items
                    li.product-list__item
                        +product(product)
