/**
 * Styles for the product list block
 */
.product-list {
    // Selector styles
    // TODO: add code

    // @media queries
    // TODO: add code

    // Pseudo-classes and pseudo-elements
    // TODO: add code

    // Nested selectors
    // TODO: add code

    // BEM elements
    &__inner {
        margin: 0 auto;
        max-width: 75em;
        padding: 0 0.625em;

        overflow: hidden;
    }

    &__items {
        @include breakpoint-up(sm) {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -1.125em;
        }

        .product-list_center & {
            @include breakpoint-up(sm) {
                justify-content: center;
            }
        }
    }

    &__item {
        margin-bottom: 3.125em;

        @include breakpoint-up(sm) {
            padding: 0 1.125em;
            width: 50%;
        }

        @include breakpoint-up(md) {
            margin-bottom: 4.375em;
            width: 33.3333%;
        }
    }

    // BEM modifiers
    // TODO: add code
}
