//-
    name: product-list
    description: Markup for the product list block
    arguments:
        - {object} props - block options
        - {object[]} props.items - products

mixin product-list(props)
    .product-list&attributes(attributes)
        .product-list__inner
            ul.product-list__items
                each product in props.items
                    li.product-list__item
                        +product(product)
        // .product-list__inner 
    // .product-list 
